<div class="password-change-container">
  <!-- Password Change Title -->
  <h2 class="password-change-heading">change password</h2>

  <!-- Password Change Form -->
  <form name="password-change" class="password-change-form" #passwordChangeForm="ngForm">

    <!-- New Password -->
    <div class="password-change-input-container">
      <mat-form-field class="password-change-input">
        <i class="{{buildIconClass('key', '1')}}"></i>
        <input matInput type="password" name="password" [(ngModel)]="password" placeholder="new password" minlength="6" required/>
      </mat-form-field>
      <div *ngIf="displayedValidationErrors.password" class="input-errors error">
        {{ displayedValidationErrors.password }}
      </div>
    </div>

    <!-- Submit Button - show always, but disable if invalid inputs -->
    <div class="submit-button-container">
      <a (click)="onSubmit()" type="submit" class="submit-button" [hidden]="!passwordChangeForm.form.valid || !passwordChangeForm.form.dirty">
        <i class="{{buildIconClass('check', '2')}}"></i>save
      </a>
    </div>
  </form>
</div>
