.password-change-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

h2.password-change-heading {
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.password-change-form {
  display: flex;
  flex-direction: column;
}

.input-errors {
  margin-top: -15px;
}

.error {
  color: pink;
  font-family: helvetica, sans-serif;
}

.password-change-input {
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.md-input-element {
  color: white;
}

/deep/ label.md-input-placeholder.md-empty {
  margin-left: 20px;
}


.submit-button-container {
  margin-top: 15px;
}

/*.submit-button {
  color: white;
  margin-top: 10px;
}*/


