.password-reset-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
}

h2.password-reset-heading {
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  text-align: left;
}

.password-reset-form {
  display: flex;
  flex-direction: column;
}

.input-errors {
  margin-top: -15px;
}

.error {
  color: pink;
  font-family: helvetica, sans-serif;
}

.password-reset-input {
  display: flex;
  flex: 1 0 auto;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.md-input-element {
  color: white;
}

/deep/ label.mat-input-placeholder.mat-empty {
  margin-left: 20px;
}


.submit-button-container {
  margin-top: 15px;
  margin-bottom: 25px;
}

.submit-button {
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 1em;

  margin-top: 10px;
  /*border: 1px white solid;*/
  /*border-radius: 3px;*/
  padding: 13px 5px 5px 5px;
}


