<div class="password-reset-container">
  <!-- Password Reset Title -->
  <h2 class="password-reset-heading">password change request</h2>

  <!-- Password Reset Form -->
  <form name="password-change-request" class="password-reset-form" #passwordChangeRequestForm="ngForm">

    <!-- Contact & Login Email -->
    <div class="password-change-request-container">
      <md-input-container class="password-reset-input">
        <i class="{{helpers.buildIconClass('envelope', 1)}}"></i>
        <input mdInput type="email" name="email" [(ngModel)]="email" placeholder="your login/contact email" minlength="5" required/>
      </md-input-container>
      <div *ngIf="displayedValidationErrors.email" class="input-errors error">
        {{ displayedValidationErrors.email }}
      </div>
    </div>

    <!-- Submit Button - show always, but disable if invalid inputs -->
    <div class="submit-button-container">
      <a (click)="onSubmit()" type="submit" class="submit-button" [attr.disabled]="!passwordChangeRequestForm.form.valid || !passwordChangeRequestForm.form.dirty">
        Send Request
        <i class="{{helpers.buildIconClass('check', 2)}}"></i>
      </a>
    </div>
  </form>
</div>

