<div class="footer-container">
  <!-- Help Link -->
  <div class="faq-link-container">
    <a routerLink="/faq" mdTooltip="help/faq" mdTooltipPosition="above" class="faq-icon">
      <i class="{{buildIconClass('question', '2')}}"></i>
    </a>
  </div>

  <!-- Social Sharing Links -->
  <div *ngIf="!showSharingLinks" class="sharing-links-container">
    <i (click)="toggleShowSharingLinks()" mdTooltip="[show social sharing]" mdTooltipPosition="above" class="{{buildIconClass('angle-double-up', 2)}} link-toggle-icon"></i>
  </div>

  <div *ngIf="showSharingLinks" class="sharing-links-container">
      <ul class="drop-up-links">
        <li *ngFor="let link of socialSharingLinks" class="social-sharing-links">
          <icon-link [url]="link.url"
                     [icon]="link.icon"
                     [bgColor]="link.bgColor"
                     [iconSize]="'2'" class="social-sharing-link">
          </icon-link>
        </li>
      </ul>
    <i (click)="toggleShowSharingLinks()" mdTooltip="[hide social sharing]" mdTooltipPosition="above" class="{{buildIconClass('angle-double-down', '2')}} link-toggle-icon"></i>
  </div>
</div>
