.footer-container {
  height: 40px;
  width: 100%;
  /*background-color: green;*/
}

.sharing-links-container {
  position: relative;
  text-align: right;
}

.link-toggle-icon {
  margin-right: 10px;
}

ul.drop-up-links {
  bottom: 100%;
  right: 0px;
  position: absolute;
  padding-left: 0px;
}

.share-heading {
  font-family: helvetica;
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.social-sharing-links {
  bottom: 100%;
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  bottom: 100%;
}

/* Need to update the inner built components */
/deep/ icon-link.social-sharing-link > a > i {
  transform: translateY(3px);
}
