<div class="footer-container">
  <!-- Help Link -->
  <div class="faq-link-container">
    <a routerLink="/faq" matTooltip="help/faq" matTooltipPosition="above" class="faq-icon">
      <i class="{{buildIconClass('question', '2')}}"></i>
    </a>
  </div>
  <input name="clipboardUrlEl" #clipboardUrlEl id="clipboardUrlEl" [(ngModel)]="userHomeUrl"/>

  <!-- Social Sharing Links -->
  <div *ngIf="!showSharingLinks" class="sharing-links-container">
    <i (click)="toggleShowSharingLinks()" matTooltip="[show social sharing]" matTooltipPosition="above" class="{{buildIconClass('angle-double-up', 2)}} link-toggle-icon"></i>
  </div>

  <div *ngIf="showSharingLinks" class="sharing-links-container">
      <ul class="drop-up-links">
        <li *ngIf="auth.isLoggedIn">
          <i class="{{buildIconClass('share', '2')}} social-sharing-links" (click)="copyMyUrlToClipboard()" matTooltip="copy my URL" matTooltipPosition="above"></i>
        </li>
        <li *ngFor="let link of socialSharingLinks" class="social-sharing-links">
          <icon-link [url]="link.url"
                     [icon]="link.icon"
                     [bgColor]="link.bgColor"
                     [iconSize]="'2'" class="social-sharing-link"
                     (click)="gaClick(link.icon)">
          </icon-link>
        </li>
      </ul>
    <i (click)="toggleShowSharingLinks()" matTooltip="[hide social sharing]" matTooltipPosition="above" class="{{buildIconClass('angle-double-down', '2')}} link-toggle-icon"></i>
  </div>
</div>
