.sign {
  position: relative;   /* Helps the absolute positioned items below */
  border: 3px solid #c9c9c9;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  max-width: 600px;
}
div.sign:hover {
  background-color: #8d8d8d;
}

/*Outer Containers*/
.sign-image-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  z-index: 1;           /*This is for the overlap with content container*/
}
.centered-item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.sign-image {
  border-radius: 3px;
}
i.underlay-icon {
  margin-left: 15px;
  opacity: 0.4;
  z-index: 1;
}


/*Content Section*/
.sign-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-left: 65px;        /*This is so it will overlap of sign icon*/
  position: absolute;       /*This is so it will overlap of sign icon*/
}
.sign-content-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sign-content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
}

.sign-content-edit-form {
  display: flex;
  flex-direction: row;
}

.sign-edit-icon-container {
  align-self: flex-end;
  display: flex;
  flex-direction: column-reverse;
}
.sign-edit-icon {
}

.sign-content-title, .sign-content-first-line, .sign-content-second-line {
  font-family: helvetica, sans-serif;
  color: white;
  margin: 0;
}
.sign-content-title {
  margin-left: 15px;
  font-size: 22px;
  font-weight: normal;
}

.sign-content-first-line {

}
.sign-content-second-line {
  font-size: 16px;
}

/* User Management Container Area */
.user-management-container {
  position: absolute;
  right: 0;
  min-width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-management-container {
  color: white;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  margin-right: 5px;
  top: 0px;
}
.user-management-container:hover, .user-management-container > i:hover {
  color: #FF3030;
}
