#user-page-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  text-align: center;
}

unread-messages-by-listing {
  display: flex;
  justify-content: left;
}

add-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

p.heading {
  color: white;
  font-family: cinzel, helvetica, sans-serif;
  text-align: center;
}

/* For listing-cards component to be styled correctly */
listing-cards {
  display: flex;
  width: 100%;
}

.search-link-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

::ng-deep span.messages-tab-label span {
  background-color: rgba(128, 128, 128, 1.0);  /* 0 opacity = transparent except text */
  font-size: 1rem;
  font-weight: bold;
  /*color: lightgreen;*/
  color: #220B38;
}

::ng-deep .user-tabs-icon {
  display: flex;
  flex-direction: column;
}
::ng-deep .user-tabs-icon p {
  margin: 0;
}
