#user-page-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
  text-align: center;
}

add-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p.heading {
  color: white;
  font-family: helvetica, sans-serif;
  text-align: center;
}

/* For listing-cards component to be styled correctly */
listing-cards {
  display: flex;
  width: 100%;
}
