<div id="user-page-main-container">

  <!-- Owner User: Content Tabs -->
  <div *ngIf="auth.isLoggedIn && isOwner">
    <mat-tab-group [selectedIndex]="currentTabIndex" (selectedTabChange)="setCurrentTab($event)">

      <!-- Wishlistings (Buying) Tab Section -->
      <mat-tab id="user-listings">

        <!-- Label -->
        <ng-template matTabLabel>
          <div class="user-tabs-icon">
            <p class="{{ buildIconClass('cart-arrow-down', '3') }}"></p>
            <p>my wishifieds</p>
          </div>
        </ng-template>

        <!-- Content -->
        <add-listing (saveEE)="save($event)" (destroyEE)="destroy($event)"></add-listing>
        <listing-cards [listings]="listings"></listing-cards>
      </mat-tab>


      <!-- Messages Tab Section -->
      <mat-tab>

        <!-- Label -->
        <ng-template matTabLabel>
          <div class="user-tabs-icon">
            <p class="{{ buildIconClass('hand-holding-usd', '3') }}"></p>
            <p>messages</p>
          </div>
          <!-- Unread Messages Count Indicator -->
          <span matBadge="{{totalUnreadMsgs}}" matBadgeOverlap="false" [matBadgeHidden]="!totalUnreadMsgs" class="messages-tab-label">
          </span>
        </ng-template>

        <!-- Content -->
        <!-- <div class="search-link-container">
          <a routerLink="/search">find buyers for my stuff</a>
        </div> -->

        <messages-by-listing></messages-by-listing>
      </mat-tab>

    </mat-tab-group>
  </div>


  <!-- Guest: Listings -->
  <div *ngIf="!isOwner">
    <listing-cards [listings]="listings"></listing-cards>
  </div>
</div>
