<div id="user-page-main-container">

  <mat-tab-group>
    <mat-tab label="listings" class="{{ buildIconClass('cloud', '2') }}">
      <add-listing *ngIf="auth.isLoggedIn && isOwner" [listings]="listings" (saveEE)="save($event)" (destroyEE)="destroy($event)"></add-listing>
      <listing-cards [listings]="listings"></listing-cards>
    </mat-tab>
    <mat-tab label="messages" class="{{ buildIconClass('comments', '2') }}">MESSAGES CONTENT</mat-tab>
    <mat-tab label="empty" class="{{ buildIconClass('question', '2') }}">UNKNOWN CONTENT</mat-tab>
  </mat-tab-group>
</div>
