.modal-container {
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: #4a4a4a;
  justify-content: flex-end;
}

.close-button {
  color: black;
  margin-right: -0.7em;
}

::ng-deep mat-dialog-container.mat-dialog-container {
  padding: 0 1em 1em 1em;
}
