<div id="faq">

  <h1>Frequently Asked Questions</h1>
  <ul>
    <li class="faq-anchor-link">
      <a [routerLink]="[]" fragment="whatissyynpost">What is Syynpost?</a>
    </li>
    <li class="faq-anchor-link">
      <a [routerLink]="[]" fragment="whataresigns">What are signs?</a>
    </li>
    <li class="faq-anchor-link">
      <a [routerLink]="[]" fragment="whobuilds">Does syynpost add sites without me knowing?</a>
    </li>
    <li class="faq-anchor-link">
      <a [routerLink]="[]" fragment="usernamechange">Can I change my syynpost link?</a>
    </li>
  </ul>
  <br/>
  <br/>


  <!--/ FAQ #1 -->
  <h3 id="whatissyynpost"> What is Syynpost? </h3>
  <p>
    Syynpost is a marketing directory for your online presences - created by you. Linking to your
    syynpost helps your fans find you wherever you want to be found. Want your YouTube fans
    to find your blog? Add signs for your YouTube and blog, then put your syynpost link on your videos,
    so they can find your blog. Add a link to your syynpost to your blog, and your blog fans can easily
    find your YouTube channel. Linking to your syynpost is easy marketing.
  </p>
  <hr/>
  <br/>

  <!--/ FAQ #2 -->
  <h3 id="whataresigns"> What are signs? </h3>
  <p>
    Signs are links to your online presences to help your fans find & follow you.
  </p>
  <hr/>
  <br/>

  <!--/ FAQ #3 -->
  <h3 id="whobuilds"> Does syynpost add sites without me knowing? </h3>
  <p>
    Nope. You hold complete control to your marketing and your privacy. You add
    the signs that point to the sites you want to be found on. If you don't add it,
    neither do we.
  </p>
  <hr/>
  <br/>

  <!--/ FAQ #4 -->
  <h3 id="usernamechange"> Can I change my syynpost link?</h3>
  <p>
    Yes, you can. Your syynpost link is based on your syynpost username. You can change this in your settings page. If you change your username at any point, remember that any OLD LINKS with your former username will CEASE TO FUNCTION! You will need to UPDATE ALL OF YOUR OLD LINKS to your new syynpost link address. Otherwise, people may be trying to find you with the old links that no longer work. If anyone bookmarked the old link, that won't work either. Keep this in mind before you decide to change your username.
  </p>
  <hr/>
  <br/>


</div>
