<div id="faq">

  <h1>Frequently Asked Questions</h1>
  <ul>
    <li class="faq-anchor-link">
      <a [routerLink]="[]" fragment="whatisthistemplate">What is this template?</a>
    </li>
  </ul>
  <br/>
  <br/>


  <!--/ FAQ #1 -->
  <h3 id="whatisthistemplate"> What is this template? </h3>
  <p>
    This is an Angular template to work with the NodeJS template that I (<a href="https://github.com/clintonjnelson">github user clintonjnelson</a>) have setup. This makes prototyping of sites quicker, as I already have a base API/UI setup with users.
  </p>
  <hr/>
  <br/>
  <br/>
</div>
