.preview-watermark {
  position: absolute;
  left: 0;
  top: 10%;
  transform: rotate(-15deg);

  color: white;
  font-size: 4em;
  font-family: helvetica, sans-serif;
  opacity: 0.2;
  white-space: nowrap;
  overflow: hidden;
}

.sign-content-component {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: space-between;
}
.sign-content {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  width: 100%;
}
h3, p , a {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sign-content-title, .sign-content-first-line, .sign-content-second-line {
  font-family: helvetica, sans-serif;
  color: white;
  margin: 0;
}
.sign-content-first-line {}
.sign-content-second-line {
  margin-top: auto;   /* align on bottom */
  font-size: 0.8em;
}
.sign-content-title {
  font-size: 1.25em;
  font-weight: normal;
  /*Next Part is for Truncating Long String... not sure if it works or not*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

/*Sign Content Edit Form*/
.sign-content-edit-form-container {
  display: flex;
  flex: 1 0 auto;
}
.sign-content-edit-form-container div {
  display: flex;
  flex: 1 0 auto;
}
.sign-form {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
mat-form-field {
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex: 1 0 auto;
}
input {
  display: flex;
  flex: 1 0 auto;
}
/* Keeps label from overlapping the icon */
/deep/ label.mat-input-placeholder.mat-empty {
  margin-left: 20px;
}
/deep/ .mat-input-wrapper {
  width: 100%;
}
/deep/ div.mat-input-infix {
  display: flex !important;
}

.md-input-element {
  color: white;
}
.preview-button-label {
  color: white;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  display: inline-block;
  margin: 0 0 0 10px;
}
.sign-saveicon {
  margin-right: 1.5em;
}

/* Sign Form Errors */
.settings-input-error-container {
  display: inline-block;
  float: left;
  margin-top: 10px;
}
.input-errors {
  margin-top: -15px;
}
.error {
  color: #ff77aa;
  font-family: helvetica, sans-serif;
}

/* Sign Management Container Area */
.sign-management-icons-container {
  position: absolute;   /* testing */
  right: 0;             /* testing */
  min-width: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sign-delete-icon {
  color: white;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  top: 0px;
}
.sign-delete-icon:hover, .sign-delete-icon > i:hover {
  color: #FF3030;
}
.sign-edit-icon {
  bottom: 0;
  margin-bottom: 8px;
}
