<!-- Signpost Login Form -->
<div>
  <form name="loginForm" (ngSubmit)="login()" class="login-signup-form" #loginForm="ngForm">
    <!-- Email Input -->
    <div class="login-signup-input-error-container">
      <md-input-container md-no-float layout="row" class="login-input-container">
        <input mdInput type="text" [(ngModel)]="userCreds.email" placeholder="email" name="email" minlength="6" [pattern]="userCreds.newAccount ? emailRegex : ''" required>
      </md-input-container>
      <div *ngIf="displayedValidationErrors.email" class="input-errors error">
        {{ displayedValidationErrors.email }}
      </div>
    </div>

    <!-- Password Input -->
    <div class="login-signup-input-error-container">
      <md-input-container md-no-float layout="row" class="login-input-container">
        <input mdInput type="password" [(ngModel)]="userCreds.password" placeholder="password" minlength="6" name="password" required>
      </md-input-container>
      <div *ngIf="displayedValidationErrors.password" class="input-errors error">
        {{ displayedValidationErrors.password }}
      </div>
    </div>

    <!-- New User Checkbox class="sidenav-login-newaccount" -->
    <div class="checkbox-link-shared-line">
      <md-checkbox [(ngModel)]="userCreds.newAccount" color="primary" name="new account" class="login-signup-checkbox shared-line">
        new here?
      </md-checkbox>
      <a [routerLink]="['requestpasswordchange']" class="forgot-password-link">forgot password?</a>
    </div>


    <!-- Terms & Conditions Checkbox -->
    <!-- THIS WAS WORKING BUT NOW IT"S NOT WORKING SINCE I UPDATED THE FORM CONTROL TO WORK... LAME -->
    <md-checkbox *ngIf="userCreds.newAccount" [(ngModel)]="userCreds.termsCond" class="login-signup-checkbox" name="terms and conditions" [required]="userCreds.newAccount">
      I agree to the
      <a href="/#/termsandconditions">terms and conditions</a>
    </md-checkbox>

    <div class="buttons-container">
      <!-- Submit Form Button -->
      <button md-button type="submit" (click)="login()" class="login-signup-button submit" [disabled]="loginForm.invalid">
        <i class="fa fa-sign-in fa-3x"></i>
      </button>

      <!-- Cancel Form Button -->
      <button md-button type="cancel" (click)="cancel()" class="login-signup-button cancel">
        <i class="fa fa-times fa-3x"></i>
      </button>
    </div>
  </form>
</div>
