/**{ border: 1px solid red; }*/

.login-signup-form {
  display: block;
  border: 1px white solid;
  border-radius: 2px;
  padding: 15px;
  max-width: 90%;
}

.login-signup-instructions {
  color: white;
  font-family: helvetica, sans-serif;
  margin: 0px;
  font-size: 0.8em;
}

.login-signup-input-error-container {}

.input-errors {
  margin-bottom: 5px;
  max-width: 275px;
}

.error {
  color: pink;
  font-family: helvetica, sans-serif;
  word-wrap: normal;
}

.login-input-container {
  color: white;
  display: block;
  padding-top: 5px;
  max-width: 290px;
}
.login-input-container input {
  font-size: 1em;
}
.login-signup-checkbox {
  color: white;
  font-family: helvetica, sans-serif;
  display: block;
}
.checkbox-link-shared-line {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 1em;
}
.forgot-password-link {
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 1em;
  margin-left: 1em;
}
.terms-cond-link {
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 1em;
  margin-left: 0.2em;
}
.login-signup-button {
  text-align: left;
  background: none;
  border: none;
}
button[disabled].submit i {
  color: #ff9999 !important;
}
