<div class="flex-container" fxLayout="row">

  <md-card class="lsg-card3 flex-item">
    <h2>Add Sign Form</h2>
    <add-sign></add-sign>
  </md-card>

  <!-- SearchBoxComponent | search-box -->
  <md-card class="lsg-card4 flex-item">
    <h2>Search Box for Users & Signs</h2>
    <search-box></search-box>
  </md-card>

  <!-- SearchResultsComponent | search-results | users, signs -->
  <md-card class="lsg-card5 flex-item">
    <h2>Search Results for Users</h2>
    <search-results [users]="users" [signs]="[]"></search-results>
  </md-card>

  <!-- SearchResultsComponent | search-results | users, signs -->
  <md-card class="lsg-card5 flex-item">
    <h2>Search Results for Signs</h2>
    <search-results [signs]="signs" [users]="[]"></search-results>
  </md-card>

  <!-- SignComponent | sign | sign -->
  <md-card class="lsg-card6 flex-item">
    <h2>Custom Sign</h2>
    <sign [sign]="customSign"></sign>
  </md-card>

  <!-- SignComponent | sign | sign -->
  <md-card class="lsg-card6 flex-item">
    <h2>Default Sign</h2>
    <sign [sign]="oauthSign"></sign>
  </md-card>

  <!-- SignComponent | sign | sign
  <md-card class="lsg-card6 flex-item">
    <h2>Phone Sign</h2>
    <sign [sign]="phoneSign"></sign>
  </md-card>

  SignComponent | sign | sign
  <md-card class="lsg-card6 flex-item">
    <h2>Email Sign</h2>
    <sign [sign]="emailSign"></sign>
  </md-card> -->

  <!-- NavbarComponent | signpost-navbar -->
  <md-card class="lsg-card5 flex-item">
    <h2>Signpost Navbar</h2>
    <signpost-navbar></signpost-navbar>
  </md-card>

  <!-- IconLinkComponet | url, icon, bgColor -->
  <md-card class="lsg-card6 flex-item">
    <h2>Signpost Icon-Link</h2>
    <icon-link [url]="'http://localhost:3000/styleguide'"
               [icon]="'facebook'"
               [bgColor]="'#7d7d7d'">
    </icon-link>
  </md-card>

  <!-- LoginSignupFormComponent | login-signup-form -->
  <md-card class="lsg-card2 flex-item">
    <h2>Login & Sign Up Form</h2>
    <login-signup-form></login-signup-form>
  </md-card>

  <!-- NavlinkComponent | navlink | linkPath, linkIcon, linkName -->
  <md-card class="lsg-card3 flex-item">
    <h2>NavBar Link</h2>
    <navlink
      [linkPath]="'http://localhost:3000/styleguide'"
      linkIcon="{{'fa fa-facebook-official fa-5'}}"
      linkName="styleguide">
    </navlink>
  </md-card>
</div>
