<div class="dashboard-container" *ngIf="!isProcessing.userPageViewsChart">
  <div class="chart-container">
    <canvas baseChart
            [datasets]="chartData.userPageViewsChart.line"
            [labels]="chartData.userPageViewsChart.labels"
            [options]="chartData.userPageViewsChart.options"
            [colors]="chartData.userPageViewsChart.colors"
            [legend]="chartData.userPageViewsChart.legend"
            [chartType]="chartData.userPageViewsChart.type"
            (chartHover)="hovered($event)"
            (chartClick)="clicked($event)">
    </canvas>
  </div>
</div>
