<!-- User Page Views Chart -->
<div class="dashboard-userpageviews-container" *ngIf="!isProcessing.userPageViewsChart">
  <div class="chart-container">
    <canvas baseChart
            [datasets]="chartData.userPageViewsChart.line"
            [labels]="chartData.userPageViewsChart.labels"
            [options]="chartData.userPageViewsChart.options"
            [colors]="chartData.userPageViewsChart.colors"
            [legend]="chartData.userPageViewsChart.legend"
            [chartType]="chartData.userPageViewsChart.type"
            (chartHover)="hovered($event)"
            (chartClick)="clicked($event)">
    </canvas>
  </div>
</div>

<!-- Signs Charts (Dynamically Built) -->
<div class="dashboard-signs-container" *ngIf="!isProcessing.signsCharts">
  <div *ngFor="let signType of signTypesToDisplay" class="chart-container">
    <canvas baseChart
            [datasets]="chartData[signType]['line']"
            [labels]="chartData[signType]['labels']"
            [options]="chartData[signType]['options']"
            [colors]="chartData[signType]['colors']"
            [legend]="chartData[signType]['legend']"
            [chartType]="chartData[signType]['type']"
            (chartHover)="hovered($event)"
            (chartClick)="clicked($event)">
    </canvas>
  </div>
</div>
