.search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.search-box {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.results-box {
  text-align: center;
  width: 100%;
}

form {
  width: 90%;
  max-width: 400px;
}
.mat-form-field {
  width: 100%;
}

::ng-deep span.mat-form-field-label-wrapper label.mat-form-field-label {
  color: white;
}

::ng-deep div.mat-form-field-underline.ng-star-inserted {
  background-color: white;
}

.mat-input-element {
  color: white;
}

.search-box-form {
  display: flex;
  flex-direction: row;
}

.search-btn-icon {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  border-radius: 0;
  order: 2;
  padding: 0px;
}

.no-results-message {
  color: white;
  font-family: helvetica, sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
}
