<!-- Search -->
<div class="search-container">
  <div class="search-box">
    <form #searchForm="ngForm" name="searchForm" (ngSubmit)="search($event)" class="search-box-form">

      <!-- Advanced Options-->
      <div class="advanced-container">
        <p (click)="toggleAdvanced(true)" *ngIf="!showAdvanced">
          <small><u>advanced</u></small>
        </p>
        <!-- Distance -->
        <div *ngIf="showAdvanced">
          <div class="radius-select">
            <mat-form-field>
              <mat-label>Radius (miles)</mat-label>
              <mat-select [(ngModel)]="searchInfo.distance" name="distance" (ngModelChange)='selectDistance($event)'>
                <mat-option *ngFor="let dist of distances" [value]="dist">{{dist}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- CityState Search -->
          <div *ngIf="searchInfo.distance !== 'any'">
            <div class="search-center">
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="searchInfo.location" (ngModelChange)="getTypeaheads()" [matAutocomplete]="auto" placeholder="City, ST (Seattle, WA) or Zipcode (98101)" name="location">
              </mat-form-field>

              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectLocationTA($event)"> <!-- (optionSelected)="selected($event)"> -->
                <mat-option *ngFor="let ta of typeaheads" [value]="ta.typeaheadText">
                  {{ta.typeaheadText}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
      </div>

      <!-- Primary (non-advanced) -->
      <div class="search-bar">
        <mat-form-field mat-float [ngStyle]="{'color': 'white'}" layout="row" class="search-box-input-container">
          <input matInput type="text" [(ngModel)]="searchInfo.searchStr" placeholder="what are YOU selling?" name="searchStr">
        </mat-form-field>

        <!-- Standard Search Button -->
        <button (click)="search($event)" type="submit" class="search-btn-icon">
          <i class="fa fa-search fa-2x sp-hover"></i>
        </button>

        <!-- Analytics Search Button -->
        <button *ngIf="showAdvanced" (click)="toggleAnalytics($event)" type="button" class="search-btn-icon analytics-btn-icon">
          <i class="fa fa-chart-bar fa-2x sp-hover"></i>
        </button>
      </div>
    </form>
    <p *ngIf="!hasSearched">Search to find buyers!</p>
  </div>


  <!-- Search Results -->
  <div class="results-box" *ngIf="!!(listings && listings.length)">
    <listings-search-results [listings]="listings" [searchInfo]="searchInfo" [showAnalytics]="showAnalytics"></listings-search-results>
  </div>
  <div class="results-box" *ngIf="hasSearched && !(listings && listings.length)">
    <p class="no-results-message"> Bummer, no wishers for that... yet.</p>
    <p class="no-results-message"> Anything else you want to sell? </p>
    <p class="no-results-message"> You can also use this to research demand. </p>
  </div>
</div>
