
div.analytics-container {
  margin-top: 2em;
  width: 100%;
}

div.listing-meta-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p.listing-meta {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}
p.listing-meta small{
  font-weight: bold;
}

/*, th.listing-th, td.listing-td*/
table.listing-data-table, th.listing-th {
  border-collapse: collapse;
  border: 1px solid lightgray;
}

th.listing-th {
  padding-left: 1em;
  padding-right: 1em;
}

tr:nth-child(even) {
  background-color: gray;
}
