<!-- Search -->
<!-- TODO: Placeholder should be dynamic to a value specified in the class that extends -->
<div class="search-container">
  <div class="search-box">
    <form #searchForm="ngForm" name="searchForm" (ngSubmit)="search($event)" class="search-box-form">
      <mat-form-field mat-float [ngStyle]="{'color': 'white'}" layout="row" class="search-box-input-container">
        <input matInput type="text" [(ngModel)]="searchStr" placeholder="what are you selling?" name="search">
      </mat-form-field>

      <button (click)="search($event)" type="submit" class="search-btn-icon">
        <i class="fa fa-search fa-3x sp-hover"></i>
      </button>
    </form>
    <p *ngIf="!hasSearched">Be a genie - find some wishes to fulfill!</p>
  </div>

  <div class="results-box" *ngIf="!!(listings && listings.length)">
    <listings-search-results [listings]="listings"></listings-search-results>
  </div>
  <div class="results-box" *ngIf="hasSearched && !(listings && listings.length)">
    <p class="no-results-message"> Bummer, no wishers for that... yet.</p>
    <p class="no-results-message"> Anything else you want to sell? </p>
    <p class="no-results-message"> You can also use this to research demand. </p>
  </div>
</div>
