.search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.search-box {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

form {
  width: 90%;
  max-width: 400px;
}

.advanced-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
}

::ng-deep span.mat-form-field-label-wrapper label.mat-form-field-label {
  color: white;
}

::ng-deep div.mat-form-field-underline.ng-star-inserted {
  background-color: white;
}

.mat-input-element {
  color: white;
}

.search-box-form {
  display: flex;
  flex-direction: column;
}

.radius-select, .search-center {
  width: 10em;
}

.search-bar {
  display: flex;
  flex-direction: row;
}

.search-btn-icon {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  border-radius: 0;
  order: 2;
  padding: 0px;
}

.results-box {
  text-align: center;
  width: 100%;
}

.no-results-message {
  color: white;
  font-family: defaultfont, helvetica, sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0.25em 0 0.25em 0;
}



/*TESTING NEW SEARCH BOX*/
/*.search2 {
  width: 100%;
  position: relative;
  display: flex;
}

.search2-term {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.search2-term:focus{
  color: #00B4CC;
}

.search2-button {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

Resize the wrap to see the search bar change!
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/







