.search-container {
}

.search-box {
  margin-top: 20px;
}

.search-results-container {
  max-width: 750px;
}

.md-input-element {
  color: white;
}

.search-box-form {
  display: flex;
  flex-direction: row;
}

.search-btn-icon {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  border-radius: 0;
  order: 2;
  padding: 0px;
}

.no-results-message {
  color: white;
  font-family: helvetica, sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
}
