<div id="modal-container">
  <!-- Confirmation Warning/Info -->
  <h2 id="title" class="modal-content">{{title}}</h2>
  <p id="msg" class="modal-content">{{msg}}</p>

  <div *ngIf="showCheckbox" id="checkbox-container">
    <input type="checkbox" [(ngModel)]="checkboxVal" name="modal checkbox" id="modal-checkbox" class="modal-content"/>
    {{checkboxMsg}}
  </div>

  <!-- OK/Close Buttons - also return checkbox value -->
  <div class="modal-button-container">
    <p (click)="dialogRef.close({response: true,  checkbox: checkboxVal})" class="model-button">ok</p>
    <p (click)="dialogRef.close({response: false})" class="model-button">cancel</p>
  </div>
</div>
