/deep/ md-dialog-container.mat-dialog-container {
  position: absolute;
  left: 10%;
  top: 10%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
  z-index: 9999;
  background-color: #676767;
  font-family: cinzel, helvetica;
  color: white;
  opacity: 1;
}
#modal-container {
  max-width: 400px;
}
#title {
  font-size: 1.5em;
}
.modal-content {
  font-family: cinzel, helvetica;
  color: white;
}
#msg {
  font-size: 1em;
}
#checkbox-container {
  margin-bottom: 30px;
}
#modal-checkbox {
  font-size: 1em;
}

.modal-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.model-button {
  color: white;
  font-family: cinzel, helvetica;
  font-size: 1.5em;
  margin: 0px 20px 0px 0px;
}
