.user-settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1em;
  /*max-width: 400px;*/
}

h2.settings-page-heading {
  color: white;
  font-family: defaultfont, helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  text-align: center;
}

.settings-confirmation-container {
  padding: 10px 10px 10px 10px;
  /*border: 1px solid white;*/
  border-radius: 3px;
  text-align: center;
}

.settings-confirmation-container h3, p, a {
  color: white;
  font-family: defaultfont, helvetica, sans-serif;
}

.settings-profile{
  width: 100%;
}

.user-settings-form {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  /*max-width: 200px;*/
  width: 100%;
  max-width: 25em;
  /*border: 1px solid lightgray;*/
  background-color: #737373;

  /*padding-left: 1em;*/
}

/* Container for each input */
.settings-input-error-container {
  display: inline-block;
  float: left;
  margin-top: 10px;
}
.input-errors {
  margin-top: -15px;
}

.error {
  color: pink;
  font-family: defaultfont, helvetica, sans-serif;
}

.user-settings-input {
  color: white;
  display: flex;
  flex: 1 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.md-input-element {
  color: white;
}
/* Keeps label from overlapping the icon */
::ng-deep label.mat-input-placeholder.mat-empty {
  margin-left: 20px;
}
::ng-deep .mat-input-wrapper {
  width: 100%;
}
::ng-deep div.mat-input-infix {
  display: flex !important;
}
/*Set the underline color to white*/
::ng-deep .mat-form-field-underline {
  background: white !important;
}

::ng-deep .mat-tab-header {
  margin-bottom: 1em;
}

::ng-deep .settings-tabs-icon {
  display: flex;
  flex-direction: column;
}
::ng-deep .settings-tabs-icon p {
  margin: 0;
}

i {
  margin-right: 5px;
}


.save-cancel-buttons {
  margin-top: 10px;
  margin-bottom: 2em;
}

.avatar-settings-card, .settings-card, .user-settings-card, .user-feature-options-card {
  display: flex;
  flex-direction: column;
  width: 88%;
  max-width: 25em;
  border: 1px solid lightgray;
  background-color: #737373;
  margin: 0.5em;
}

.avatar-settings-img {
  max-height: 3em;
  max-width: 3em;
}

/*#616161*/
button.upload-avatar-button {
  margin-top: 1em;
  color: white;
  background-color: #616161;
  width: auto;
  max-width: 10em;
}

.badges-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 5em;
}


/*.user-locations-form {
  display: flex;
  flex-direction: column;
}

.input-location-zipcode {
  width: 50%;
}

.location-card {
  margin-bottom: 0.5em;
}

.default-user-location {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.delete-user-location-icon {
  position: absolute;
  right: 0;
  top: 0;
}
*/
