.user-settings-container {
  display: flex;
  flex-direction: column;
  /*flex-grow: 2;*/
  /*width: 100%;*/
  justify-content: space-between;
  max-width: 400px;
}

h2.settings-page-heading {
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: normal;
  text-align: center;
}

.settings-confirmation-container {
  padding: 10px 10px 10px 10px;
  border: 1px solid white;
  border-radius: 3px;
  text-align: center;
}

.settings-confirmation-container h3, p, a {
  color: white;
  font-family: helvetica, sans-serif;
}

.user-settings-form {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  /*max-width: 200px;*/
}

/* Container for each input */
.settings-input-error-container {
  display: inline-block;
  float: left;
  margin-top: 10px;
}
.input-errors {
  margin-top: -15px;
}

.error {
  color: pink;
  font-family: helvetica, sans-serif;
}

.user-settings-input {
  color: white;
  display: flex;
  flex: 1 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.md-input-element {
  color: white;
}
/* Keeps label from overlapping the icon */
/deep/ label.mat-input-placeholder.mat-empty {
  margin-left: 20px;
}
/deep/ .mat-input-wrapper {
  width: 100%;
}
/deep/ div.mat-input-infix {
  display: flex !important;
}
i {
  margin-right: 5px;
}


.save-cancel-buttons {
  margin-top: 10px;
  margin-bottom: 2em;
}


