<!-- User Settings Form -->
<div class="user-settings-container">
  <h2 class="settings-page-heading">settings</h2>

  <!-- Email but NOT confirmed -->
  <div *ngIf="!isConfirmed && userSettings && !!userSettings.email" class="settings-confirmation-container">
    <h3>You have not yet confirmed your email</h3>
    <p>Please visit your email inbox, and click the link in the Syynpost Confirmation email.</p>
    <a *ngIf="!emailWasResent" (click)="resendConfirmationEmail($event)" href="#">Click here to re-send the confirmation email</a>
    <p *ngIf="emailWasResent">
      <i class="{{buildIconClass('check', 3)}}"></i>Email Sent!
    </p>
    <p *ngIf="displayedValidationErrors.confirmation" class="error">
      {{ displayedValidationErrors.confirmation }}
    </p>
  </div>

  <!-- NO Email + NO confirmation -->
  <div *ngIf="!isConfirmed && userSettings && !userSettings.email" class="settings-confirmation-container">
    <h3>You have not yet entered your email</h3>
    <p>Please update your email address below.</p>
  </div>

  <form *ngIf="!isProcessing" name="userSettingsForm" class="user-settings-form" #userSettingsForm="ngForm">

    <!-- Username -->
    <div class="settings-input-error-container">
      <mat-form-field class="user-settings-input">
        <i class="{{buildIconClass('user', 1)}}"></i>
        <input matInput type="text" name="username" [(ngModel)]="tempSettings.username" placeholder="your signpost username" minlength="1" maxlength="20" required/>
      </mat-form-field>
      <!-- Show errors only if exist and input has been modified -->
      <div *ngIf="displayedValidationErrors.username" class="input-errors error">
        {{ displayedValidationErrors.username }}
      </div>
    </div>

    <!-- Contact & Login Email -->
    <div class="settings-input-error-container">
      <mat-form-field class="user-settings-input">
        <i class="{{buildIconClass('envelope', 1)}}"></i>
        <input matInput type="email" name="email" [(ngModel)]="tempSettings.email" placeholder="your login/contact email" minlength="5" required/>
      </mat-form-field>
      <div *ngIf="displayedValidationErrors.email" class="input-errors error">
        {{ displayedValidationErrors.email }}
      </div>
    </div>

    <!-- General Errors -->
    <div *ngIf="displayedValidationErrors.main" class="input-errors error">
      {{ displayedValidationErrors.main }}
    </div>
    <!-- Save/Cancel Buttons -->
    <div class="save-cancel-buttons">
      <!-- Save button - show only if for modified & dirty; hide if any part is not valid -->
      <a (click)="save()" type="submit" class="user-settings-saveicon" [hidden]="!userSettingsForm.form.valid || !userSettingsForm.form.dirty" [attr.disabled]="!userSettingsForm.form.valid">
        <i class="{{buildIconClass('check', 2)}}"></i>
      </a>
      <!-- Cancel button -->
      <a (click)="cancel()" class="user-settings-cancelicon" [hidden]="!userSettingsForm.form.dirty">
        <i class="{{buildIconClass('times', 2)}}"></i>
      </a>
    </div>
  </form>

  <!-- TODO: COULD TOTALLY BREAK THIS INTO A COMPONENT -->
  <!-- Change User Avatar -->
  <div>
    <mat-card *ngIf="!isProcessing" class="avatar-settings-card">
      <label for="">Avatar</label>
      <img src="{{userSettings.picUrl}}" alt="" class="avatar-settings-img">

      <input type="file" name="avatar" ng2FileSelect [uploader]="avatarUploader"/>
      <button type="button" class="upload-avatar-button" (click)="avatarUploader.uploadAll()" [disabled]="!avatarUploader.getNotUploadedItems().length">
        Save Avatar
      </button>
    </mat-card>
  </div>

  <br>
  <br>

  <!-- TODO: COULD TOTALLY BREAK THIS INTO A COMPONENT -->
  <!-- Manage User Locations -->
  <div>
    <label for="">Manage Your Locations</label>
    <mat-card *ngIf="!userLocsProcessing" class="user-locations-card">
      <div class="existing-user-locations" *ngFor="let loc of userLocations">
        <div (click)="setDefaultUserLocation(loc.userLocationId)">
          <mat-card class="location-card" [ngClass]="{'default-user-location': loc.isDefault}">
            <p> {{ loc.postal }}: <small>{{ loc.description }}</small> </p>
            <i (click)="deleteUserLocation(loc.userLocationId); $event.stopPropagation()" class="{{buildIconClass('times', 1)}} delete-user-location-icon"></i>
          </mat-card>
        </div>

      </div>

      <br>
      <br>
      <form #userLocationsForm="ngForm" *ngIf="!isProcessingLocations" class="user-locations-form" layout="column">
        <mat-form-field class="input-location-zipcode">
          <mat-label for="postal">New Zipcode</mat-label>
          <input matInput id="postal" type="text" name="postal" [(ngModel)]="newUserLocation.postal" placeholder="zipcode" minlength="1" maxlength="20" required/>
        </mat-form-field>

        <mat-form-field class="input-location-description">
          <mat-label for="description">Description</mat-label>
          <input matInput id="description" type="text" name="description" [(ngModel)]="newUserLocation.description" placeholder="location description" minlength="1" maxlength="20" required/>
        </mat-form-field>

        <button mat-icon-button type="button" class="create-location-button" (click)="createUserLocation()">Save</button>
      </form>
    </mat-card>
  </div>

  <p>Send Email Notifications: true</p>
  <p>Allow Text Notifications: true</p>
</div>
