.user-locations-card {
  display: flex;
  flex-direction: column;
  width: 88%;
  max-width: 25em;
  border: 1px solid lightgray;
  background-color: #737373;
  margin: 0.5em;
}

.user-locations-form {
  display: flex;
  flex-direction: column;
}

.input-location-zipcode {
  width: 50%;
}

.location-card {
  margin: 0;
  padding: 0.3em 0.3em 0.3em 0.3em;
}
.location-card p {
  margin: 0;
}

.default-user-location {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

.delete-user-location-icon {
  position: absolute;
  right: 0;
  top: 0;
}

.existing-user-locations {
  margin-bottom: 2em;
}

.add-user-locations-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
