.listing-avatar-message-container {
  display: flex;
  flex-direction: row;
  /*margin-bottom: 2em;*/
}

img.avatar-for-messages-selector {
  height: 60px;
  width: 60px;
  max-height: 60px;
  max-width: 60px;
  margin-top: 10px;
  margin-left: 5px;
}

.listing-image {
  align-self: center;
  margin-right: 1em;  /* Space between picture & correspondant icons */
  width: 6em;
  background: #616161;
}
div.listing-image {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

::ng-deep div.listing-image span {
  background-color: black;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
}

::ng-deep div.listing-response-avatar span {
  background-color: black;
  color: white;
}


