
<div class="message-bubble-avatar-container">
  <div *ngIf="!viewerIsSender">
    <!-- Avatar Toggle for showing the messages -->
    <img src="{{ picUrl }}" alt="Sender pic" class="profile-pic-img" (click)="toggleShowMessage()">

    <!-- Recipient Message Bubble -->
    <div *ngIf="showMessage" class="speech-bubble-ds right-color"
    [ngClass]="{'highlight-unread': message.status === 'UNREAD'}">
      <div>
        <section class="message-bubble-avatar-header">
          <p>&nbsp;</p>
          <p><small>{{ displayTime(message.createdAt) }}</small></p>
          <img src="{{ picUrl }}" alt="Sender pic" class="profile-pic-img">
        </section>
        <p>{{ message.content }}</p>
        <div class="speech-bubble-ds-arrow-right"></div>
      </div>
    </div>
  </div>

  <!-- Sender Message Bubble -->
  <div *ngIf="viewerIsSender" class="speech-bubble-ds left-color">
    <p><small>{{ displayTime(message.createdAt) }}</small></p>
    <p>{{ message.content }}</p>
    <div class="speech-bubble-ds-arrow-left"></div>
  </div>
</div>
