.message-bubble-avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  min-height: 80px;
  min-width: 80px;
}

.profile-pic-img {
  height: 40px;
  max-height: 40px;
  width: 40px;
  max-width: 40px;
  border-radius: 20px;
  background: white;
  overflow: hidden;
}

/deep/ message-bubble {
  width: 90%;
  max-width: 500px;
}

div.speech-bubble-ds {
  padding: 3px;
  padding-bottom: 5px;
  margin-bottom: 20px; /*NOT WORKING BUT THIS IS WHAT NEED TO DO*/
}
