
<!-- Recipient Message Bubble -->
<div *ngIf="!viewerIsSender" class="speech-bubble-ds right-color"
[ngClass]="{'highlight-unread': message.status === 'UNREAD'}">
  <p><small>{{ displayTime(message.createdAt) }}</small></p>
  <p>{{ message.content }}</p>
  <div class="speech-bubble-ds-arrow-right"></div>
</div>

<!-- Sender Message Bubble -->
<div *ngIf="viewerIsSender" class="speech-bubble-ds left-color">
  <p><small>{{ displayTime(message.createdAt) }}</small></p>
  <p>{{ message.content }}</p>
  <div class="speech-bubble-ds-arrow-left"></div>
</div>
