.message-bubble-avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  min-height: 65px;
  min-width: 65px;

  /*Hacky display stuff - refine if doesn't work out*/
  margin-left: 5px;
  margin-top: 10px;
}

.profile-pic-img {
  height: 60px;
  max-height: 60px;
  width: 60px;
  max-width: 60px;
  border-radius: 20px;
  /*background: white;   doesn't work with a white icon*/
  border: 1px solid white;
  overflow: hidden;
}

/deep/ message-bubble {
  width: 90%;
  max-width: 500px;
}

div.speech-bubble-ds {
  padding: 3px;
  padding-bottom: 5px;
  margin-bottom: 20px; /*NOT WORKING BUT THIS IS WHAT NEED TO DO*/
}
