.message-display-container {
  display: flex;
  flex-direction: column;
}
.message-bubble-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

/deep/ message-bubble {
  width: 90%;
  max-width: 500px;
}

/deep/ mat-form-field {
  width: 90%;
  max-width: 30em;
  padding: 5px;
}

form.message-form {
  border: 2px solid lightgray;
  width: 100%;
  max-width: 30em;
  margin-bottom: 1em;
}

/*/deep/ label.mat-form-field-label {
  color: lightgray;
}*/

/deep/ mat-form-field.mat-focused label.mat-form-field-label{
  color: lightgray;
}

/deep/ mat-form-field label.mat-form-field-label{
  color: white;
}

/deep/ div.mat-form-field-underline {
  background-color: white;
}

/*/deep/ mat-form-field-label-wrapper {
  background: lightgray;
}*/

textarea {
  color: white;
  min-height: 3em;
}


/*Checkbox Field*/
.notify-checkbox {
  margin-left: 0.3em;
}

/deep/ div.mat-checkbox-frame {
  border-color: white;
}

.message-form {
  position: relative;
  padding-bottom: 2em;
}

/*Send Icon*/
.message-form i {
  display: block;
  position: absolute;
  right: 1em;
  bottom: 0.3em;
}
