<div class="user-messages-main-container">
<!--
  Loop Here for all messages
  Switch here
    Load other-sender messages right
    Load self-sender messages left
  Load newest self-sender message preview left
  Load new message textboc below
-->
  <div class="messages-display-container">
  <!--
    I HAVE A FEELING THE METHOD ON CLASS SELECTION WILL BE BOUND & HIT REPEATEDLY CAUSING POOR PAGE PERF.
    CONSIDER USING A SWITCH OR NG-IF/ELSE TO LOAD THESE...
  -->
    <div *ngFor="let message of messages" class="message-bubble-container">
      <message-bubble [message]="message" [isRecipient]="isReceivedMessage(message)"></message-bubble>
         <!-- [ngClass]="{ 'self-message': isSelfMessage(message), 'other-message': !isSelfMessage(message) }"
      <p><small> {{ message.createdAt }} </small></p>
      <p>{{ message.content }}</p> -->
    </div>

    <!-- The Preview Message Being Written -->
    <!-- ngIf ensures it waits for the tempMessage to be available before trying to show -->
    <div *ngIf="tempMessage.content.length >= 0" class="message-bubble-container message-preview-container">
      <message-bubble [message]="tempMessage" [isRecipient]="false"></message-bubble>
    </div>
  </div>


  <!--
  THIS M-U-S-T BE BROKEN OUT BECAUSE IT NEEDS TO BE INSERTED IN VARIOUS PLACES FOR THE ABILITY TO REPLY TO DIFFERENT THREADS

  THE PREVIEW WILL GET ITS OWN POPULATION OF A MESSAGE
  -->
  <div class="new-message-container">
    <form class="message-form" #messageForm="ngForm" name="messageForm" layout="column">
      <mat-form-field>
        <!-- TODO: Placeholder should be worded according to the viewer!!! Seller? Buyer? -->
        <textarea matInput type="textarea" name="content" ngControl="content" [(ngModel)]="tempMessage.content" placeholder="Want to sell yours? Message the buyer here:::"></textarea>
      </mat-form-field>
      <mat-checkbox class="notify-checkbox" name="notifyImmediately" [(ngModel)]="notifyImmediately">Notify Buyer Immediately</mat-checkbox>
      <i class="{{ buildIconClass('paper-plane', '2') }}" (click)="send()"></i>
    </form>
  </div>


</div>
