<!-- Navigation Header Bar -->
<div class="navbar">
  <div class="navbar-signpost-icon">
    <a routerLink="/">
      <img src="favicon.ico" alt="signpost icon" id="image-navbar-signpost">
    </a>
  </div>

  <!-- Icons When Logged OUT -->
  <div class="login-signup-area" *ngIf="auth.isLoggedOut">
    <section (click)="toggleShowLoginLinks()" *ngIf="!showLoginLinks" class="login-signup-link">
      <i class="{{helpers.buildIconClass('angle-double-left', 2)}} sp-hover">
        <span class="login-text">Login | Signup</span>
      </i>
    </section>
    <section *ngIf="showLoginLinks">
      <ul class="navbar-login-links">
        <li (click)="toggleShowLoginLinks()">
          <i class="{{helpers.buildIconClass('angle-double-right', 2)}} sp-hover"></i>
        </li>
        <!-- UPDATE COLOR IF EVER WANT LINKS TO TURN THEIR PROPER COLOR WHEN HOVERED OVER -->
        <li class="nav-links-oauthService" *ngFor="let link of oauthLinks">
          <icon-link [url]="link.url"
                     [icon]="link.icon"
                     [bgColor]="link.bgColor"
                     [iconSize]="'2'">
          </icon-link>
        </li>
        <li (click)="toggleShowSignpostLoginForm()" class="login-signup-form-link">
          <img src="favicon.ico" alt="login/signup icon">
        </li>
      </ul>
    </section>
  </div>

  <!-- Icons when Logged IN -->
  <div class="user-nav-area" *ngIf="auth.isLoggedIn">
    <!-- Toggle to OPEN nav links -->
    <section (click)="toggleShowUserNavLinks()" *ngIf="!showUserNavLinks" class="user-nav-link">
      <div class="user-navlinks-toggle">
        <i class="{{helpers.buildIconClass('angle-double-left', 2)}}"></i>
        <i class="{{helpers.buildIconClass('user', 2)}}"></i>
      </div>
    </section>
    <!-- Opened Nav Links Options -->
    <section *ngIf="showUserNavLinks">
      <ul class="navbar-login-links">
        <!-- Close Button -->
        <li (click)="toggleShowUserNavLinks()">
          <i class="{{helpers.buildIconClass('angle-double-right', 2)}}"></i>
        </li>
        <!-- Signout Button -->
        <li (click)="logout()" class="user-signout-link">
          <p class="signout-text">Signout</p>
        </li>
        <!-- Settings Button -->
        <li>
          <a [routerLink]="[auth.username, 'settings']" (click)="toggleShowUserNavLinks()">
            <i class="{{helpers.buildIconClass('cog', 2)}}"></i>
          </a>
        </li>
        <!-- Profile/Home Button -->
        <li>
          <a [routerLink]="[auth.username]" (click)="toggleShowUserNavLinks()">
            <i class="{{helpers.buildIconClass('user', 2)}}"></i>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>
<hr class="navbar-bottom-hr">
<section *ngIf="showSignpostLoginForm" class="navbar-login-signup-form">
  <login-signup-form (close)="onCloseLogin($event)"></login-signup-form>
</section>
