<!-- Navigation Header Bar -->
<div class="navbar">
  <div class="navbar-signpost-icon">
    <a routerLink="/">
      <img src="/assets/signpost_icon.svg" alt="login/signup icon" class="signpost-icon-main">
    </a>
  </div>

  <!-- Icons When Logged OUT -->
  <div *ngIf="!showLoginLinks && !auth.isLoggedIn" (click)="toggleShowLoginLinks()" class="nav-toggle-control">
    <i class="{{helpers.buildIconClass('angle-double-left', 2)}}">
      <span class="login-text">Login | Signup</span>
    </i>
  </div>
  <div *ngIf="showLoginLinks && !auth.isLoggedIn" (click)="toggleShowLoginLinks()" class="nav-toggle-control">
    <i class="{{helpers.buildIconClass('angle-double-right', 2)}}"></i>
  </div>
  <div class="nav-right-links-container" *ngIf="auth.isLoggedOut">
    <ul *ngIf="showLoginLinks" class="navbar-login-links navbar-login-links-shift-up">
      <!-- <li (click)="toggleShowLoginLinks()">
        <i class="{{helpers.buildIconClass('angle-double-right', 2)}} sp-hover"></i>
      </li> -->
      <li class="nav-links-oauth" *ngFor="let link of oauthLinks">
        <icon-link [url]="link.url"
                   [icon]="link.icon"
                   [bgColor]="link.bgColor"
                   [iconSize]="'2'">
        </icon-link>
      </li>
<!--  <li class="login-signup-form-link">  IMGUR ICON IS COLORED & NOT RIGHT FOR SITE
        <a href="/api/login/imgur" class="sidenav-link">
          <img src="/assets/imgur_icon.svg" alt="imgur icon" class="signpost-icon-link">
        </a>
      </li> -->
      <li (click)="toggleShowSignpostLoginForm()" class="login-signup-form-link">
        <img src="/assets/signpost_icon.svg" alt="login/signup icon" class="signpost-icon-link">
      </li>
    </ul>
  </div>


  <!-- Toggle to OPEN nav links -->
  <section (click)="toggleShowUserNavLinks()" *ngIf="auth.isLoggedIn" class="nav-toggle-control">
    <!-- Open Nav Links Button -->
    <div *ngIf="!showUserNavLinks" class="user-navlinks-toggle">
      <i class="{{helpers.buildIconClass('angle-double-left', 2)}}"></i>
      <i class="{{helpers.buildIconClass('user', 2)}}"></i>
    </div>

    <!-- Close Button -->
    <div *ngIf="showUserNavLinks" class="user-navlinks-toggle"> <!-- (click)="toggleShowUserNavLinks()" -->
      <i class="{{helpers.buildIconClass('angle-double-right', 2)}}"></i>
    </div>
  </section>

  <!-- Icons when Logged IN -->
  <div class="nav-right-links-container" *ngIf="auth.isLoggedIn">
    <!-- Opened Nav Links Options -->
    <ul *ngIf="showUserNavLinks" class="navbar-login-links">
      <!-- Signout Button -->
      <li (click)="logout()" class="user-signout-link">
        <p class="signout-text">Signout</p>
      </li>
      <!-- Settings Button -->
      <li>
        <a [routerLink]="[auth.username, 'settings']" (click)="toggleShowUserNavLinks()">
          <i class="{{helpers.buildIconClass('cog', 2)}}"></i>
        </a>
      </li>
      <!-- Profile/Home Button -->
      <li>
        <a [routerLink]="[auth.username]" (click)="toggleShowUserNavLinks()">
          <i class="{{helpers.buildIconClass('user', 2)}}"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<hr class="navbar-bottom-hr">
<section *ngIf="showSignpostLoginForm" class="navbar-login-signup-form">
  <login-signup-form (close)="onCloseLogin($event)"></login-signup-form>
</section>
