/*Flex with space-between will push one to the right and one to the left!*/
/**{ border: 1px solid red; }*/

.navbar {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
}

.navbar-main-icon {
  display: flex;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  margin-top: auto;
  width: auto;
  height: auto;
}
.navbar-main-icon a {
  max-height: 2.5em;
}

.icon-main {
  width: 2.5em;
  height: 2.5em;
  margin-bottom: 5px;
}

.nav-toggle-control {
  display: flex;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  overflow: hidden;
  display: inline-block;
  margin-top: auto;
  margin-left: auto;
  font-size: 1.1em;
}
.nav-toggle-control span {
  font-size: 0.6em;
}

/*This makes BOTH elements hover style at same time*/
/*.login-signup-link:hover i, .login-signup-link:hover span {
  color: #88B04B;
}*/

.login-text {
  bottom: 5px;
  color: white;
  font-family: helvetica;
  font-size: 1.1em;
  font-weight: bold;
  position: relative;
}

/*Links Container*/
.nav-right-links-container {
  display: -webkit-box;
  display: flex;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 40px;
  height: auto;
  max-width: 70%;
  width: auto;
}
.nav-right-links-container section {
  margin-top: auto;
}
.login-signup-link {
  overflow: hidden;
  display: inline-block;
}

.navbar-login-links {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0.9em;
  width: auto;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  align-self: flex-end;
  -webkit-flex-wrap: wrap-reverse;
  -webkit-justify-content: flex-end;
  -webkit-align-self: flex-end;
}
.navbar-login-links li {
  display: inline;
  padding: 0px;
  padding-top: 5px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: auto;
}
.nav-links-oauth {
  display: inline;
  padding: 0px;
  padding-top: 5px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: auto;
  width: 2em;
  text-align: center;
}
.navbar-login-links a {
  text-decoration: none;
}

.login-link {}

.custom-icon {
  font-size: 20px;
  color: white;
}
/deep/ .icon-ebay {   /* THIS COULD BE AN ISSUE SOMEDAY */
  margin-left: -5px;
}

.login-signup-form-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navbar-bottom-hr {
  margin-top: 0px;
}

/*.user-navlinks-toggle:hover i, .user-navlinks-toggle:hover div {
  color: #88B04B;
}*/
.user-signout-link {
  position: relative;
}
.signout-text {
  color: white;
  display: inline;
  font-family: helvetica, sans-serif;
}


/*SignUp Form*/
.navbar-login-signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
