<!-- Navigation Header Bar -->
<div class="navbar">
  <div matTooltip="home" matTooltipPosition="right" class="navbar-main-icon">
    <!-- Logged Out => Landing Page + Search -->
    <a *ngIf="!auth.isLoggedIn" routerLink="/">
      <img src="/assets/logo.png" alt="WISHIFIEDS" class="icon-main">
      <!-- <img src="MAIN_SITE_ICON_HERE.jpg" alt="WISHIFIEDS" class="icon-main"> -->
    </a>
    <!-- Logged In => User Home Page -->
    <a *ngIf="auth.isLoggedIn" routerLink="/">
      <img src="/assets/logo.png" alt="WISHIFIEDS" class="icon-main">
      <!-- <img src="MAIN_SITE_ICON_HERE.jpg" alt="WISHIFIEDS" class="icon-main"> -->
    </a>
  </div>


  <!-- Icons When Logged OUT -->

  <!-- Toggle to OPEN nav links -->
  <div *ngIf="!showLoginLinks && !auth.isLoggedIn" (click)="toggleShowLoginLinks(); toggleShowSignpostLoginForm()" class="nav-toggle-control">
    <i class="{{buildIconClass('angle-double-left', '3')}}">
      <span class="login-text">Login | Signup</span>
    </i>
  </div>
  <div *ngIf="showLoginLinks && !auth.isLoggedIn" (click)="toggleShowLoginLinks()" matTooltip="[click to hide]" matTooltipPosition="above"  class="nav-toggle-control">
    <i class="{{buildIconClass('angle-double-right', '3')}}"></i>
  </div>
  <div class="nav-right-links-container" *ngIf="auth.isLoggedOut">
    <ul *ngIf="showLoginLinks" class="navbar-login-links">
      <li class="nav-links-oauth" *ngFor="let link of oauthLinks">
        <icon-link [url]="link.url"
                   [icon]="link.icon"
                   [bgColor]="link.bgColor"
                   [iconSize]="'3'"
                   (click)="gaClick(link.icon)">
        </icon-link>
      </li>
    </ul>
  </div>


  <!-- Icons When Logged IN -->

  <!-- Toggle to OPEN nav links -->
  <!-- TURN OFF FOR NOW
  <section (click)="toggleShowUserNavLinks()" *ngIf="auth.isLoggedIn" class="nav-toggle-control">
    Open Nav Links Button
    <div *ngIf="!showUserNavLinks" matTooltip="[click to show]" matTooltipPosition="left" class="user-navlinks-toggle">
      <i class="{{buildIconClass('angle-double-left', '3')}}"></i>
      <i class="{{buildIconClass('user', '3')}}"></i>
    </div>

    Close Button
    <div *ngIf="showUserNavLinks" matTooltip="[click to hide]" matTooltipPosition="above" class="user-navlinks-toggle">
      <i class="{{buildIconClass('angle-double-right', '3')}}"></i>
    </div>
  </section> -->

  <!-- Icons when Logged IN -->
  <div class="nav-right-links-container" *ngIf="auth.isLoggedIn">
    <!-- Opened Nav Links Options -->
    <ul *ngIf="showUserNavLinks" class="navbar-login-links">
      <!-- Signout Button -->
      <li (click)="logout()" class="user-signout-link">
        <p matTooltip="logout" matTooltipPosition="above" class="signout-text">Signout</p>
      </li>
      <!-- Settings Button -->
      <li>
        <a [routerLink]="[auth.username, 'settings']" (click)="toggleShowUserNavLinks()" matTooltip="settings" matTooltipPosition="above">
          <i class="{{buildIconClass('cog', '3')}}"></i>
        </a>
      </li>
      <li>
        <a [routerLink]="[auth.username]" (click)="toggleShowUserNavLinks()" matTooltip="my wishifieds" matTooltipPosition="above">
          <i class="{{buildIconClass('home', '3')}}"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<hr class="navbar-bottom-hr">

<!-- Login/Signup Form -->
<section *ngIf="showLoginForm" class="navbar-login-signup-form">
  <login-signup-form (close)="onCloseLogin($event)"></login-signup-form>
</section>
