.add-sign-icon-container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: center;
}

.icons-main-container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
}

/deep/ label.md-input-placeholder.md-empty:not(.md-focused) {
  margin-left: 20px;
}

p.heading {
  color: white;
  font-family: helvetica, sans-serif;
  text-align: center;
}

ul {
  padding-left: 0;
  height: auto;

  display: flex;
  display: -webkit-box;
  flex: 0 1 auto;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
}

ul > li {
  margin-right: 5px;
  display: inline-block;  /* Required for wrapping functionalty */
}

hr.hr-quarter-width {
  max-width: 25%;
}

.oauth-icons-list {
  list-style: none;
}
