<div class="add-sign-comtainer">
  <!-- Add-Sign Icon -->
  <div *ngIf="!showAddSignIcons && !showSignForm" class="add-sign-icon-container">
    <i (click)="toggleShowAddSignIcons()" matTooltip="[add a sign]" matTooltipPosition="above" class="{{buildIconClass('plus', '2')}}"></i>
  </div>

  <div *ngIf="showAddSignIcons || showSignForm">
    <!-- Heading -->
    <p class="heading">add a sign</p>

    <div *ngIf="showAddSignIcons" class="icons-main-container">
      <!-- Oauth Links -->
      <ul>
        <li *ngFor="let oLink of oauths" class="oauth-icons-list">
          <oauth-link *ngIf="!isOauthAdded(oLink)"
                     [url]="oLink.url"
                     [icon]="oLink.icon"
                     [bgColor]="oLink.bgColor"
                     [iconSize]="2"
                     (click)="gaClick('addoauthsign', oLink.icon)">
          </oauth-link>
        </li>
      </ul>
      <hr class="hr-quarter-width"/>
      <!-- Generic & Custom Links -->
      <ul>
        <li *ngFor="let custom of customs" class="oauth-icons-list">
          <i (click)="toggleShowForm(true); setSign(custom)" [hoverColor]="custom.bgColor" [matTooltip]="(custom.icon === 'globe' ? custom.signName : custom.icon)" matTooltipPosition="above" class="{{buildIconClass(custom.icon, '2')}}"></i>
        </li>
        <li *ngFor="let generic of generics" class="oauth-icons-list">
          <i (click)="toggleShowForm(true); setSign(generic)" [hoverColor]="generic.bgColor" [matTooltip]="generic.signName" matTooltipPosition="above" class="{{buildIconClass(generic.icon, '2')}}"></i>
        </li>
      </ul>
    </div>

    <!-- Preview New Sign Area -->
    <div *ngIf="showSignForm" class="sign-preview">
      <sign [sign]="selectedSign" [forNewSign]="true" (saveEE)="save($event)" (destroyEE)="destroy($event)"></sign>
    </div>
  </div>
</div>
