@import url('icons.css');
/*alegreya-regular, buda, defaultfontdecorative, marcellus, montaga, tangerine*/
@font-face {
  font-family: defaultfont;
  src: url('assets/fonts/CinzelDecorative-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
};

/*CREATE DYNAMIC HOVER COLORS BY mAKING THE HOVER COLOR CLASS BUILT FROM ICON NAME*/
/*
http://www.color-hex.com/color/a6a6a6
525252
4c4c4c
5a5a5a    DARK Grey
676767
737373
8d8d8d
9a9a9a
a6a6a6
b7b7b7
c9c9c9    LIGHT Grey
e4e4e4
ffffff    white
88B04B    GREEN 2017 PANTONE
f7cac9    Rose 2016 Pantone
964F4C    Marsala 2015 Pantone

ff680b    Etsy
*/

/*Font Defaults*/
* {
  font-family: defaultfont, defaultfont, helvetica;
  color: white;
}

/**{ border: 1px solid red; }*/
html {
  display: flex;
  flex: 1 1 auto;
  height: auto;
  min-height: 100%;
  -webkit-text-size-adjust: none;
  max-width: 100%;
}

body {
  display: flex;
  flex: 1 1 auto;
  align-items: stretch;
  flex-direction: column;
  margin-bottom: 0px;
  background-color: #737373;
  max-width: calc(100% - 16px);  /* Full width without margins */

  /*background-image: url('assets/my_site_background.png');*/
  background-position: center center;
  background-repeat: no-repeat;
}


site-main {
  display: flex;
  flex: 1;
  align-items: stretch;
  flex-direction: column;
}

site-footer {
  display: flex;
  flex: 1;
  align-items: flex-end;
}

/* Prevent number incrementor wheel on inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

.site-white-text {
  font-family: defaultfont, helvetica;
  color: white;
}

/*General Background Color*/
.bg-gray {
  background-color: #808080;
}

/*COLORS*/
.facebook-color {
  fill: #3b5998 !important;
}
.custom-color {
  fill: #955251 !important;
}
.default-form-icon {
  fill: #5a5a5a !important;
}

i {
  color: white;
}
i.sp-hover:hover {
  color: #964F4C;
}

.custom-icon-size-1x {
  font-size: 1em;
}
.custom-icon-size-2x {
  font-size: 2em;
}
.custom-icon-size-3x {
  font-size: 3em;
}
.custom-icon-size-4x {
  font-size: 4em;
}
.custom-icon-size-5x {
  font-size: 5em;
}
.custom-icon-size-6x {
  font-size: 6em;
}
