<div class="add-listing-container" [ngClass]="{'form-border': isEditing}">
  <!-- Add-Sign Icon -->
  <div *ngIf="!isEditing" class="add-listing-icon-container">
    <i (click)="toggleIsEditing()" mdTooltip="[add a listing]" mdTooltipPosition="above" class="{{buildIconClass('plus', '3')}}"></i>
  </div>

  <div *ngIf="isEditing">
    <!-- Heading -->
    <p class="heading">add a listing</p>

    <!-- Editing (it has its OWN Preview full-listing) -->
    <div class="listing-edit-container">
      <edit-listing [listing]="newListing" (editingEE)="toggleIsEditing($event)" (saveEE)="save($event)"></edit-listing>
    </div>

    <!-- Preview New Sign Area - THIS SHOULD BE BELOW THE FORM & CONSTANTLY UPDATING... -->
    <div *ngIf="isEditing" class="listing-preview">
      <!-- SHOW A LISTING PREVIEW HERE -->
      <!-- <listing-card ></listing-card> -->
    </div>
  </div>
</div>
