/*Controls Overall Add Container Size*/
.add-listing-container {
  width: 95%;
  min-width: 300px;
  max-width: 600px;
}

.form-border {
  padding: 10px;
  border: 2px solid gray;  /*With padding, provides a light border around form */
}

/*IS THIS STILL VALID WITH "MD" labels?*/
/deep/ label.md-input-placeholder.md-empty:not(.md-focused) {
  margin-left: 20px;
}

p.heading {
  color: white;
  font-family: defaultfont, helvetica, sans-serif;
  text-align: center;
}


