
div.edit-listing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

listing-full {
  width: 100%;
}

div.preview-listing-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

div.edit-form-container {
  display:flex;
  justify-content: center;
  margin-top: 1em;  /* space between preview & form */
  margin-bottom: 2em;
}

div.listing-content-edit-form-container {
  width: 100%;
}

div.listing-content-edit-form-container form {
  display: flex;
  flex-direction: column;
  padding: 5px;  /*space between contents & dropzone border*/
}
/* Dropzone Classes Styling */
/*.my-drop-zone {
  border: dotted 3px lightgray;
}*/
.nv-file-over {
  border: dotted 3px lightgreen;
}

mat-form-field {
  display: flex;
}


/*Set spacing between input field sections*/
::ng-deep mat-form-field, ::ng-deep mat-form-field {
  margin-bottom: 1.2em;
}

/*Change Input Label Color to Gray for pre/post input*/
::ng-deep mat-label, mat-label i{
  color: lightgray;
}

::ng-deep .mat-option-text {
  color: #808080;
}

/*Min/Max width on input lines (to avoid cutting placeholders off or input lines being awkwardly long)*/
::ng-deep .mat-form-field-wrapper, .images-container {
  width: 90%;
  min-width: 280px;
  max-width: 600px;
}
::ng-deep mat-form-field.price-input-container .mat-form-field-wrapper {
  width: 100%;
  min-width: 100px;
  max-width: 250px;
}

/deep/ div.mat-form-field-infix > textarea {
  border-radius: 5px;
  background-color: #8c8c8c;
  padding: 3px;
  color: white;
}

::ng-deep mat-form-field.price-input-container div.mat-form-field-flex.mat-form-field-flex {
  min-width: 10em;
}

/*Set the underline color to white*/
::ng-deep .mat-form-field-underline {
  background: white;
}

/* FIXME: Hack to keep the mat-hint from overlapping content below. https://github.com/angular/material2/issues/5227 */
::ng-deep .mat-form-field-underline,
::ng-deep .mat-form-field-subscript-wrapper,
::ng-deep .mat-form-field-ripple {
  position: initial !important;
  display: block;
}


/*Images*/
.images-container {
  position: relative;
  text-align: left;
  margin-left: 2em;
}

.images-container-label {
  margin-top: 0;
  margin-bottom: 5px;
}

label.upload-file-label-button {
  border: 1px solid white;
  border-radius: 3px;
  background-color: gray;
  color: white;
  margin-top: 5px;
  padding: 2px;
}

#uploadfile {
  width: 0.1px;
  height: 0.1px;
}

.images-selection-container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid white;
  margin: 1em 0 1.2em 0;

  /* min/max width set ahove with .mat-form-field-wrapper */
}

.select-images-hint-container {
  max-width: 500px;
  margin-top: -1em;
  line-height: 0.84;  /*Keep lines spaced like material hints*/
}
/*Match Material mat-hint styling*/
.select-images-hint {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.54);
}

.images-checkbox {
  width: 0;
  height: 0;
  visibility: hidden;
}

.image {
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 5px;
  background-clip: content-box;
}

.image-selected {
  /*border: 2px solid black;
  outline: 2px solid white;*/
  border: solid 1px white;
}

.hero-image-container {
  margin-left: 2em;
}


::ng-deep mat-label.price-input-label:parent:parent:parent {
  margin-left: -2em;
}
/*::ng-deep div.mat-form-field-infix {
  transform: translateX(-1em);
}*/
/*::ng-deep div.mat-form-field-prefix {
  transform: translateX(-1em);
}*/

p.advanced-toggle {
  margin-top: 0;
  text-decoration: underline;
}

div.advanced-container {
  margin-left: 2em;
}

div#listings-controls {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

a.listing-saveicon {
  margin-right: 2em;
}


/* Form Errors */
.settings-input-error-container {
  display: inline-block;
  float: left;
  margin-top: 10px;
}
.input-errors {
  margin-top: 15px;
}
.error {
  color: #ff77aa;
  font-family: helvetica, sans-serif;
}
