<div class="edit-listing-container">

  <!-- Live Preview -->
  <div class="preview-listing-container">
    <listing-full [listing]="tempListing" [isPreview]="true" (editingEE)="toggleEditing($event)"></listing-full>
  </div>


  <!-- Listing Form -->
  <div id="listing-edit-container" class="edit-form-container">
    <!-- Listing Edit Form -->
    <div ng2FileDrop class="listing-content-edit-form-container my-drop-zone" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="imagesUploader">
      <form [formGroup]="listingForm" (ngSubmit)="save()" name="listingForm" class="listing-form" layout="column">

        <!-- LinkUrl -->
        <mat-form-field layout="row">
          <mat-label>Link to an Example</mat-label>
          <input matInput type="text" name="linkUrl" [formControl]="listingForm.controls['linkUrl']" [(ngModel)]="tempListing.linkUrl" required/>
          <mat-hint>
            <i (mouseover)="toggleHint('linkUrl')" (mouseleave)="toggleHint('linkUrl')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.linkUrl">Paste a link here that points to a great example of what you're looking for. You can select images from that web page to show in your wisified.</span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.linkUrl" class="input-errors error">
            {{ displayedValidationErrors.linkUrl }}
          </div>
        </mat-form-field>

        <!-- TODO: IMPLEMENT A DRAG & DROP PICTURE INPUT WITH DRAGGABLE ORDERING AND ABILITY TO SELECT FROM LINKURL -->
        <div class="images-container">
          <div class="images-label">
            <p class="images-container-label">Select Images OR Drag/Drop Your Own</p>
            <label for="uploadfile" class="upload-file-label-button">
              <i class="{{buildIconClass('cloud-upload-alt', '1')}}"></i> OR Click Here to Upload
            </label>
            <!-- Upload Images Button Option -->
            <input id="uploadfile" type="file" name="uploadedimages" ng2FileSelect [uploader]="imagesUploader" multiple/>
          </div>
          <div *ngIf="imageLoadingSpinner">

          </div>
          <!-- Draggable Image Capability -->
          <div class="images-selection-container"  *ngIf="!imageLoadingSpinner" dragula="'images-group'" [dragulaModel]="dragulaImagesIndexes" (dragulaModelChange)="imagesDropUpdate($event)">
            <div layout="row" formArrayName="images" *ngFor="let group of getImageGroup().controls; let ind=index">
              <div [formGroupName]="ind" delayDragLift>
                <input type="checkbox" formControlName="checked" class="images-checkbox"/>
                <img (click)="toggleSelectImage(ind)" src="{{group.controls.url.value}}" [ngClass]="{'image-selected': group.controls.checked.value}" class="image" alt="" width="60px">
              </div>
            </div>
          </div>
          <div *ngIf="displayedValidationErrors.images" class="input-errors error">
            {{ displayedValidationErrors.images }}
          </div>
          <div class="select-images-hint-container">
            <p>
              <small class="select-images-hint">
                <i (mouseover)="toggleHint('images')" (mouseleave)="toggleHint('images')" class="{{buildIconClass('question-circle', '1')}}"></i>
                <span [hidden]="!hints.images">These images come from the example web page address you provided above. Select whichever you think will show what you're looking for.</span>
              </small>
            </p>
          </div>
        </div>

        <!-- Title -->
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput type="text" name="title" [formControl]="listingForm.controls['title']" [(ngModel)]="tempListing.title" placeholder="Title of what you're looking for..." required/>
          <mat-hint>
            <i (mouseover)="toggleHint('title')" (mouseleave)="toggleHint('title')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.title"> What are you looking for? Be clear & short in title. Use description for details.</span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.title" class="input-errors error">
            {{ displayedValidationErrors.title }}
          </div>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field layout="row">
          <mat-label>Description</mat-label>
          <textarea class="listing-textarea" matInput matTextareaAutosize matAutosizeMinRows="6" matAutosizeMaxRows="20" name="description" [formControl]="listingForm.controls['description']" [(ngModel)]="tempListing.description" placeholder="Description of what you're looking for..." mat-maxlength="2000" required></textarea>
          <mat-hint>
            <i (mouseover)="toggleHint('description')" (mouseleave)="toggleHint('description')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.description"> Describe what you're looking for here. This is the proper place to get into the details about what you want. </span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.description" class="input-errors error">
            {{ displayedValidationErrors.description }}
          </div>
        </mat-form-field>

        <!-- Price -->
        <mat-form-field layout="row" class="price-input-container">
          <mat-label class="price-input-label">Willing to Pay</mat-label>
          <input matInput type="number" name="price" [formControl]="listingForm.controls['price']" [(ngModel)]="tempListing.price" max="99999999" required/>
          <span matPrefix>$&nbsp;</span>
          <mat-hint>
            <i (mouseover)="toggleHint('price')" (mouseleave)="toggleHint('price')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.price">Select the price you would be willing to pay for the item. This doesn't mean you're willing to pay this price for any condition, but are willing to pay up to this price.</span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.price" class="input-errors error">
            {{ displayedValidationErrors.price }}
          </div>
        </mat-form-field>


        <!-- Advanced Options -->
        <p class="advanced-toggle" (click)="toggleAdvanced()">
          Advanced
          <i *ngIf="hideAdvanced" class="{{buildIconClass('chevron-down', '1')}}"></i>
          <i *ngIf="!hideAdvanced" class="{{buildIconClass('chevron-up', '1')}}"></i>
        </p>

        <div [hidden]="hideAdvanced" class="advanced-container">
          <!-- Tags -->
          <add-tags (selectedTagsEE)="updateTags($event)"></add-tags>

          <!-- Location -->
          <mat-form-field layout="row">
            <mat-label>Purchase Location</mat-label>
            <mat-select name="location" [formControl]="listingForm.controls['userLocationId']"  [(ngModel)]="tempListing.userLocationId" placeholder="Choose a Location (eg: meeting location for purchase)" required>
              <mat-option *ngFor="let loc of locations" [value]="loc.userLocationId">
                {{ loc.description }}
              </mat-option>
            </mat-select>
            <mat-hint>
              <i (mouseover)="toggleHint('location')" (mouseleave)="toggleHint('location')" class="{{buildIconClass('question-circle', '1')}}"></i>
              <span [hidden]="!hints.location">The location you would like to purchase this item from. Never put your home address! We suggest a frequented establishment like Starbucks.</span>
            </mat-hint>
            <div *ngIf="displayedValidationErrors.location" class="input-errors error">
              {{ displayedValidationErrors.location }}
            </div>
          </mat-form-field>
        </div>


        <!-- form buttons -->
        <div id="listings-controls">
          <!-- ok button -->
          <a (click)="save()" type="submit" matTooltip="save" matTooltipPosition="above" class="listing-saveicon" [attr.disabled]="!listingForm.valid">
            <i class="{{buildIconClass('check', '2')}}"></i>
          </a>
          <!-- cancel button -->
          <a (click)="cancel()" class="listing-cancelicon">
            <i matTooltip="cancel" matTooltipPosition="above" class="{{buildIconClass('times', '2')}}"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
