<div class="edit-listing-container">

  <!-- TODO: PROVIDE A TAB TO FLIP BETWEEN CARD VIEW & FULL VIEW; DEFAUL TO CARD; -->
  <div class="preview-listing-container">
    <listing-full [listing]="tempListing" [isPreview]="true" (editingEE)="toggleEditing($event)"></listing-full>
  </div>

  <div id="listing-edit-container" class="edit-form-container">
    <!-- Listing Edit Form -->
    <div ng2FileDrop class="listing-content-edit-form-container my-drop-zone" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="imagesUploader">
      <form [formGroup]="listingForm" (ngSubmit)="save()" name="listingForm" class="listing-form" layout="column">

        <!-- Category -->
        <mat-form-field layout="column">
          <mat-label>Choose a Category</mat-label>
          <mat-select name="category" [formControl]="listingForm.controls['categoryId']" [(ngModel)]="tempListing.categoryId" placeholder="Choose a Category" required>
            <mat-option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
          <mat-hint>
            <i (mouseover)="toggleHint('category')" (mouseleave)="toggleHint('category')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.category"> Category is what you think the general grouping is of item you're wishing for. Keep in mind, when someone is searching to sell an item, they may limit the results to specific categories - that may or may not matter for you.</span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.category" class="input-errors error">
            {{ displayedValidationErrors.category }}
          </div>
        </mat-form-field>

        <!-- Condition -->
        <mat-form-field layout="column" *ngIf="tempListing.categoryId">
          <mat-label>Desired Condition</mat-label>
          <mat-select name="condition" [formControl]="listingForm.controls['conditionId']" [(ngModel)]="tempListing.conditionId" placeholder="Choose a Condition" required>
            <mat-option *ngFor="let condition of conditions" [value]="condition.id">
              {{ condition.name }}
            </mat-option>
          </mat-select>
          <mat-hint>
            <i (mouseover)="toggleHint('condition')" (mouseleave)="toggleHint('condition')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.condition"> If you're looking for a specific condition, you can select that here. It is recommended to choose the lowest condition you would be interested in, such as selecting "good" when interested in "good or better" condition items.</span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.condition" class="input-errors error">
            {{ displayedValidationErrors.condition }}
          </div>
        </mat-form-field>

        <!-- Title -->
        <mat-form-field>
          <mat-label>Wish Listing Title</mat-label>
          <input matInput type="text" name="title" [formControl]="listingForm.controls['title']" [(ngModel)]="tempListing.title" placeholder="Title of what you're looking for..." required/>
          <mat-hint>
            <i (mouseover)="toggleHint('title')" (mouseleave)="toggleHint('title')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.title"> Be clear & short. Search results only show a small amount of the title! This is also a primary factor for the search algorithm to determine search results. Clear and short is best!</span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.title" class="input-errors error">
            {{ displayedValidationErrors.title }}
          </div>
        </mat-form-field>

        <!-- Description -->
        <mat-form-field layout="row">
          <mat-label>Wish Listing Description</mat-label>
          <textarea class="listing-textarea" matInput matTextareaAutosize matAutosizeMinRows="6" matAutosizeMaxRows="20" name="description" [formControl]="listingForm.controls['description']" [(ngModel)]="tempListing.description" placeholder="Description of what you're looking for..." mat-maxlength="2000"></textarea>
          <mat-hint>
            <i (mouseover)="toggleHint('description')" (mouseleave)="toggleHint('description')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.description"> Describe what you're looking for here. This is the proper place to get into the details about what you want. </span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.description" class="input-errors error">
            {{ displayedValidationErrors.description }}
          </div>
        </mat-form-field>

        <!-- LinkUrl -->
        <mat-form-field layout="row">
          <mat-label>Link to an Example</mat-label>
          <input matInput type="text" name="linkUrl" [formControl]="listingForm.controls['linkUrl']" [(ngModel)]="tempListing.linkUrl"/>
          <mat-hint>
            <i (mouseover)="toggleHint('linkUrl')" (mouseleave)="toggleHint('linkUrl')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.linkUrl">Paste a link here that points to a great example of what you're looking for. You can select images from that web page to show in your wisified.</span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.linkUrl" class="input-errors error">
            {{ displayedValidationErrors.linkUrl }}
          </div>
        </mat-form-field>

        <!-- TODO: IMPLEMENT A DRAG & DROP PICTURE INPUT WITH DRAGGABLE ORDERING AND ABILITY TO SELECT FROM LINKURL -->
        <div class="images-container">
          <label class="images-label">Select Wishlisting Images OR Drag/Drop to Upload Your Own</label>
          <div class="images-selection-container">
            <div layout="row" formArrayName="images" *ngFor="let group of getImageGroup().controls; let ind=index">
              <div [formGroupName]="ind">
                <input type="checkbox" formControlName="checked" class="images-checkbox"/>
                <img (click)="toggleSelectImage(ind)" src="{{group.controls.url.value}}" [ngClass]="{'image-selected': group.controls.checked.value}" class="image" alt="" width="60px">
              </div>
            </div>
          </div>
          <div *ngIf="displayedValidationErrors.images" class="input-errors error">
            {{ displayedValidationErrors.images }}
          </div>
          <div class="select-images-hint-container">
            <p>
              <small class="select-images-hint">
                <i (mouseover)="toggleHint('images')" (mouseleave)="toggleHint('images')" class="{{buildIconClass('question-circle', '1')}}"></i>
                <span [hidden]="!hints.images">These images come from the web page address you provided above. Select whichever you think will help clarify what you're looking for.</span>
              </small>
            </p>
          </div>

          <!-- Upload Images Button Option -->
          <input type="file" name="uploadedimages" ng2FileSelect [uploader]="imagesUploader" multiple/>
        </div>


        <!-- Hero Image Select from Selected Images -->
        <mat-form-field layout="column" *ngIf="getImageGroup().controls && getImageGroup().controls.length > 0">
          <mat-label>Pick the Primary Image</mat-label>
          <mat-select name="hero" [formControl]="listingForm.controls['hero']" [(ngModel)]="tempListing.hero" [ngStyle]="{'background': 'url(getSelectedHero() ) center contain no-repeat'}" placeholder="Select a Primary from Your Images">
            <mat-option *ngFor="let group of getImageGroup().controls | callback: keepTruthyFilter; let ind=index" [value]="group.controls.url.value">
            <!-- <mat-option *ngFor="let group of listingForm.controls['images'].controls | callback: keepTruthyFilter; let ind=index" [value]="group.controls.url.value"> -->
              <img src="{{ group.controls.url.value }}" alt="Listing Image" height="40px">
            </mat-option>
          </mat-select>
          <img [hidden]="!tempListing.hero" src="{{tempListing.hero}}" height="40px" alt="">
          <mat-hint>
            <i (mouseover)="toggleHint('hero')" (mouseleave)="toggleHint('hero')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.hero">Select the primary image for this wishified ad.</span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.category" class="input-errors error">
            {{ displayedValidationErrors.category }}
          </div>
        </mat-form-field>

        <!-- Price -->
        <mat-form-field layout="row" class="price-input-container">
          <mat-label class="price-input-label">Willing to Pay</mat-label>
          <input matInput type="number" name="price" [formControl]="listingForm.controls['price']" [(ngModel)]="tempListing.price" max="99999999"/>
          <span matPrefix>$&nbsp;</span>
          <mat-hint>
            <i (mouseover)="toggleHint('price')" (mouseleave)="toggleHint('price')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.price">Select the price you would be willing to pay for the item. This doesn't mean you're willing to pay this price for any condition, but are willing to pay up to this price - based on condition.</span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.price" class="input-errors error">
            {{ displayedValidationErrors.price }}
          </div>
        </mat-form-field>


        <!-- TODO: COME UP WITH A WAY TO INPUT THE FULL LOCATION HERE. City/State or Zip? MAYBE GOOGLE MAPS INTEGRATION? -->
        <!-- TODO: USER'S LOCATIONS OR OPTIONAL "+ ADD NEW LOCATION" THAT UN-HIDES A SET OF
        LOCATION FIELDS THAT OTHERWISE ARE POPULATED BEHIND THE SCENES WITH THE SAVED VALUES. -->
        <!-- Location -->
        <mat-form-field layout="row">
          <mat-label>Purchase Location</mat-label>
          <mat-select name="location" [formControl]="listingForm.controls['locationId']"  [(ngModel)]="tempListing.locationId" placeholder="Choose a Location (eg: meeting location for purchase)" required>
            <mat-option *ngFor="let location of locations" [value]="location.id">
              {{ location.description }}
            </mat-option>
          </mat-select>
          <mat-hint>
            <i (mouseover)="toggleHint('location')" (mouseleave)="toggleHint('location')" class="{{buildIconClass('question-circle', '1')}}"></i>
            <span [hidden]="!hints.location">The location you would like to purchase this item from. Never put your home address! We suggest a frequented establishment like Starbucks.</span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.location" class="input-errors error">
            {{ displayedValidationErrors.location }}
          </div>
        </mat-form-field>

        <!-- TODO: ADD A LIST OF CHIPS HERE FOR KEYWORDS? ADD SOMETHING. TEXT INPUTS WITH OPTIONAL ADD ANOTHER. -->
        <!-- Keywords -->
        <mat-form-field layout="row">
          <mat-label>Keywords</mat-label>
          <input matInput type="text" name="keywords" [formControl]="listingForm.controls['keywords']" [(ngModel)]="tempListing.keywords" placeholder="Description of what you're looking for..." mat-maxlength="2000"/>
          <mat-hint>
            <i (mouseenter)="toggleHint('keywords')" (mouseleave)="toggleHint('keywords')" class="{{buildIconClass('info-circle', '1')}}"></i>
            <span [hidden]="!hints.keywords"> We give you four keywords that help supplement the search algorithm for search results. This helps you keep your title wording helpful, instead of you feeling pressure to cram all of your keywords into it.</span>
          </mat-hint>
          <div *ngIf="displayedValidationErrors.keywords" class="input-errors error">
            {{ displayedValidationErrors.keywords }}
          </div>
        </mat-form-field>



        <!-- form buttons -->
        <div id="listings-controls">
          <!-- ok button -->
          <a (click)="save()" type="submit" matTooltip="save" matTooltipPosition="above" class="listing-saveicon" [attr.disabled]="!listingForm.valid">
            <i class="{{buildIconClass('check', '2')}}"></i>
          </a>
          <!-- cancel button -->
          <a (click)="cancel()" class="listing-cancelicon">
            <i matTooltip="cancel" matTooltipPosition="above" class="{{buildIconClass('times', '2')}}"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
