<div class="listing-main-container">
  <mat-card class="listing">
    <!-- Listing Top Header Bar -->
    <mat-card-header class="listing-top-header">

      <!-- TODO: IF NO SRC, SET A CLASS THAT WILL SET A BACKGROUND DEFAULT IMAGE ON DIV -->
      <div mat-card-avatar>
          <a [routerLink]="['/', listing.ownerUsername, 'listings']">
            <img src="{{listing.ownerPicUrl}}" alt="" class="listing-owner-header-image">
          </a>
      </div>
      <mat-card-title>
        <a [routerLink]="['/', listing.ownerUsername, 'listings']" class="user-header-title-link">{{listing.ownerUsername}}</a>
        <!-- Facebook Integration Badge -->
        <!-- <span class="facebook-badge fa-stack fa-2x">
          <i class="fas fa-certificate fa-stack-2x"></i>
          <i class="facebook-icon fab fa-facebook-f fa-stack-1x"></i>
        </span> -->
      </mat-card-title>
      <mat-card-subtitle>
        <i class="{{ buildIconClass('star', '1') }}"></i>
        <i class="{{ buildIconClass('star', '1') }}"></i>
        <i class="{{ buildIconClass('star', '1') }}"></i>
        <i class="{{ buildIconClass('star', '1') }}"></i>
        <i class="{{ buildIconClass('star', '1') }}"> &nbsp;(12)</i>
      </mat-card-subtitle>
      <i *ngIf="isLoggedIn && isOwner && !isPreview" (click)="toggleEditing()" class="{{ buildIconClass('edit', '3') }}"></i>
      <!-- <i *ngIf="!isOwner" class="{{ buildIconClass('broken-heart', '3') }}"></i> -->
      <i *ngIf="isLoggedIn && !isOwner && isFavorite" class="{{ buildIconClass('heart', '3') }}" (click)="toggleHeart()"></i>
      <i *ngIf="isLoggedIn && !isOwner && !isFavorite" class="{{ buildIconClass('heart', '3', 'r') }}" (click)="toggleHeart()"></i>
      <i (click)="closeListing()" class="{{ buildIconClass('times', '3') }}"></i>
    </mat-card-header>

    <!-- Images Section -->
    <div class="listing-images-container">
      <!-- Images Scroll Caroussel & Icons -->
      <div class="image-carousel" *ngIf="listing.images && listing.images.length">
        <img-carousel [images]="listing.images" [link]="listingLink" [modal]="false"></img-carousel>
      </div>
    </div>

    <!-- Title & Description Section -->
    <div class="listing-title-desc-container">
      <mat-chip-list>
        <mat-chip class="price" selected>$ {{ listing.price }}</mat-chip>
      </mat-chip-list>
      <h3 class="listing-title">{{ listing.title }}</h3>
      <p class="listing-desc ">{{ listing.description }}</p>
    </div>

    <div class="listing-example-link-container">
      <label class="listing-example-link-label" for="">Here's an example on another site:</label>
      <a class="listing-example-link" href="{{ verifyOrAddProtocolToUrl(listing.linkUrl) }}" targer="_blank">{{ urlWithoutPrototol(listing.linkUrl) }}</a>
    </div>

    <div *ngIf="!isPreview" class="listing-contact-buyer-container">
      <hr>
      <!--
      TODO: hook up the correspondantID in accordance with the following
        OWNER:
          - Show "no messages", if no messages
          - Show icon with number in it of users that have contacted
          - Show colored circle of unread messages
          - show user profile icons inside the message bubble. should act like a filter when clicked
              - show all (order by most recent message top) by default
              - user profile bubble at top should show only their box (like former search filter, only by user id)
                - border the bubble in some color, if they have unread messages
                - CHANGE unread messages to have a datetime? Once loaded, then set as read?
              - user bubble profile icon should also show on their msg box
        NON-OWNER
          X - always show messages
          X - show the input/preview section for contacting owner
          ?- show any existing messages by loading them, if available

      -->
      <!-- Owner Messages Section -->
      <div *ngIf="isOwner">

        <!-- When making a new component to replace & expand old ones...
          1) First create the controller intermediate component as a pass-thru of data to maintain former functionality
          2) Once prior functionality is established, break into data mid-stream and add new capabilities -->
        <!-- <listing-messages-selector></listing-messages-selector> -->


        <!-- Messages Icon Overview-->
        <i *ngIf="msgCorrespondants && msgCorrespondants.length" class="{{ buildIconClass('comments', '3') }} messages-icon" [ngClass]="{'unread-msgs-color': !!unreadMessages }" (click)="toggleShowMessages()" matBadge="{{unreadMessages}}" matBadgeOverlap="true" [matBadgeHidden]="!unreadMessages">
        </i>
        <!-- <strong *ngIf="!!unreadMessages" class="unread-msgs-color">{{unreadMessages}}</strong> -->

        <div *ngIf="showMessages" [ngSwitch]="showingMessagesOfUserId" class="listing-chat-container">

          <!-- TODO: TURN THIS INTO A COMPONENT THAT CAN HAVE NAME AT BOTTOM AND ALWAYS COUNT AT TOP RIGHT -->
          <!-- Profile Pic Selectors -->
          <div class="msg-correspondant-avatars-container">
            <div *ngFor="let corr of msgCorrespondants; let ind = index" class="{{ 'msg-container-userid-' + corr.userId }}">
              <section class="message-user-pic-section" (click)="setMessageToShow(corr.userId)" matBadge="{{corr.unreadCount}}" matBadgeOverlap="true" [matBadgeHidden]="!corr.unreadCount">
                <img src="{{corr.picUrl || defaultPicUrl}}" alt="Profile pic of messaging user." class="message-user-pic-selector">
              </section>
              <!-- <strong *ngIf="!!corr.unreadCount" class="unread-msgs-color">{{unreadMessages}}</strong> -->
            </div>
          </div>

          <!-- Messages that show after selection -->
          <div *ngFor="let corr of msgCorrespondants; let ind = index" class="{{ 'msg-container-userid-' + corr.userId }}">
            <user-messages *ngSwitchCase="corr.userId" [listingId]="listing.id" [listingOwnerId]="listing.userId" [correspondantId]="corr.userId"></user-messages>
          </div>

          <!-- Default If Nothing Selected -->
          <div *ngSwitchCase="0"></div>
        </div>

        <!-- No Messages -->
        <p *ngIf="!msgCorrespondants || (msgCorrespondants && !msgCorrespondants.length)" class="no-messages">
          No genies have offered to grant this wish.... yet.
        </p>
      </div>

      <!-- Non-Owner Messages Section -->
      <div *ngIf="isLoggedIn && !isOwner">

        <i class="{{ buildIconClass('comments', '3') }} messages-icon" [ngClass]="{'unread-msgs-color': !!unreadMessages }">
        </i>
        <strong *ngIf="!!unreadMessages" class="unread-msgs-color">{{unreadMessages}}</strong>
        <div class="listing-chat-container">
          <user-messages [listingId]="listing.id" [listingOwnerId]="listing.userId" [correspondantId]="currentViewerId"></user-messages>
        </div>
      </div>
    </div>

    <!-- Location Map Section -->
    <div *ngIf="!isPreview" class="listing-location-map-container">
      <hr>
      <div class="listing-location-map">
        <i class="{{ buildIconClass('map-marker', '3') }}" (click)="toggleShowLocationMap()"></i>
        <div *ngIf="showLocationMap" class="listing-map-container">
          <!-- TODO: REPLACE HARDCODED MAP WITH REAL MAP -->
          <img src="https://camo.githubusercontent.com/6f53eeb8108ef87ccdb03ef0a8f51e9368be6e3a/68747470733a2f2f676f6f676c656d6170732e6769746875622e696f2f6a732d6d61702d6c6162656c2f73637265656e73686f742e706e67" alt="" width="100%">
          <!-- SOME MESSAGE/CHAT TYPE COMPONENT SHOULD GO HERE -->
        </div>
        <p> {{ listing.location }} </p>
      </div>
    </div>

    <!-- Tags Section -->
    <div *ngIf="listing.tags && listing.tags.length" class="listing-tags-container">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of listing.tags" selectable="false" removable="false" disabled="true">
            {{tag.name}}
          </mat-chip>
        </mat-chip-list>
    </div>

  </mat-card>
</div>
