<div class="listing-main-container">
  <mat-card class="listing">
    <!-- Top Header Bar -->
    <mat-card-header class="listing-top-header">
      <div mat-card-avatar class="card-avatar"></div>
      <mat-card-title>clintonjnelson</mat-card-title>
      <mat-card-subtitle>
        <i class="{{ buildIconClass('star', '1') }}"></i>
        <i class="{{ buildIconClass('star', '1') }}"></i>
        <i class="{{ buildIconClass('star', '1') }}"></i>
        <i class="{{ buildIconClass('star', '1') }}"></i>
        <i class="{{ buildIconClass('star', '1') }}"> &nbsp;(12)</i>
      </mat-card-subtitle>
      <i *ngIf="isOwner && !isPreview" (click)="toggleEditing()" class="{{ buildIconClass('pencil', '2') }}"></i>
      <i *ngIf="!isOwner" class="{{ buildIconClass('heart', '2') }}"></i>
      <i *ngIf="isOwner" (click)="closeListing()" class="{{ buildIconClass('times', '2') }}"></i>
    </mat-card-header>

    <!-- Images Section -->
    <div class="listing-images-container">
      <!-- Images Scroll Caroussel & Icons -->
      <div class="image-carousel">
        <ngu-carousel [inputs]="carouselConfig">
          <ngu-item NguCarouselItem *ngFor="let image of listing.images" class="bannerStyle" (carouselLoad)="carouselLoaded($event)">
            <img class="listing-image" height="100%" src="{{ image }}" alt="Image for {{ listing.title }}">
          </ngu-item>
          <button NguCarouselPrev class="leftRs">
            <i class="{{ buildIconClass('angle-left', '4') }} caroussel-icon"></i>
          </button>
          <button NguCarouselNext class="rightRs">
            <i class="{{ buildIconClass('angle-right', '4') }} caroussel-icon"></i>
          </button>
        </ngu-carousel>
      </div>
    </div>

    <!-- Title & Description Section -->
    <div class="listing-title-desc-container">
      <mat-chip-list>
        <mat-chip class="price" selected>$ {{ listing.price }}</mat-chip>
      </mat-chip-list>
      <h3 class="listing-title">{{ listing.title }}</h3>
      <p class="listing-desc ">{{ listing.description }}</p>
    </div>

    <div class="listing-example-link-container">
      <label class="listing-example-link-label" for="">Here's an example on another site:</label>
      <a class="listing-example-link" href="{{ verifyOrAddProtocolToUrl(listing.linkUrl) }}" targer="_blank">{{ urlWithoutPrototol(listing.linkUrl) }}</a>
    </div>

    <div *ngIf="!isPreview" class="listing-contact-buyer-container">
      <hr>
      <!--
      TODO: hook up the correspondantID in accordance with the following
        OWNER:
          - Show "no messages", if no messages
          - Show icon with number in it of users that have contacted
          - Show colored circle of unread messages
          - show user profile icons inside the message bubble. should act like a filter when clicked
              - show all (order by most recent message top) by default
              - user profile bubble at top should show only their box (like former search filter, only by user id)
                - border the bubble in some color, if they have unread messages
                - CHANGE unread messages to have a datetime? Once loaded, then set as read?
              - user bubble profile icon should also show on their msg box
        NON-OWNER
          X - always show messages
          X - show the input/preview section for contacting owner
          ?- show any existing messages by loading them, if available

      -->
      <!-- Owner Messages Section -->
      <div *ngIf="isOwner">

        <!-- Messages -->
        <i *ngIf="msgCorrespondantIds && msgCorrespondantIds.length" class="{{ buildIconClass('comments', '3') }}" (click)="toggleShowMessages()" ></i>
        <div *ngIf="showMessages" class="listing-chat-container">
          <div *ngFor="let id of msgCorrespondantIds; let ind = index" class="{{ 'msg-container-' + ind }}">
            <user-messages [listingId]="listing.id" [listingOwnerId]="listing.userId" [correspondantId]="id"></user-messages>
          </div>
        </div>

        <!-- No Messages -->
        <p *ngIf="!msgCorrespondantIds || (msgCorrespondantIds && !msgCorrespondantIds.length)" class="no-messages">
          No Messages.... yet.
        </p>
      </div>

      <!-- Non-Owner Messages Section -->
      <div *ngIf="!isOwner">
        <div class="listing-chat-container">
          <user-messages [listingId]="listing.id" [listingOwnerId]="listing.userId" [correspondantId]="currentViewerId"></user-messages>
        </div>
      </div>
    </div>

    <!-- Location Map Section -->
    <div *ngIf="!isPreview" class="listing-location-map-container">
      <hr>
      <div class="listing-location-map">
        <i class="{{ buildIconClass('map-marker', '3') }}" (click)="toggleShowLocationMap()"></i>
        <div *ngIf="showLocationMap" class="listing-map-container">
          <!-- TODO: REPLACE HARDCODED MAP WITH REAL MAP -->
          <img src="https://camo.githubusercontent.com/6f53eeb8108ef87ccdb03ef0a8f51e9368be6e3a/68747470733a2f2f676f6f676c656d6170732e6769746875622e696f2f6a732d6d61702d6c6162656c2f73637265656e73686f742e706e67" alt="" width="100%">
          <!-- SOME MESSAGE/CHAT TYPE COMPONENT SHOULD GO HERE -->
        </div>
        <p> {{ listing.location }} </p>
      </div>
    </div>

  </mat-card>
</div>
