<div class="listing-cards-container">

  <!-- Search Options Area -->
  <!-- TODO: CURRENTLY PERMANENTLY TURNED OFF BY ngIf=false; HOOK UP IF NEED, ELSE REMOVE -->
  <div>
    <div id="cards-filters" *ngIf="false">
      <ul>
        <li *ngFor="let icon of filterIcons">
          <i class="{{buildIconClass(icon, 1)}}"
             (click)="filter(icon)">
             <!-- [style.color]="filters[icon] ? icon.bgColor : 'white'"> -->
          </i>
        </li>
      </ul>
    </div>
  </div>

  <!-- Listing Results Found -->
  <section class="cards-container" *ngIf="listings && listings.length > 0" squareWidthElement="listing-display-main-container">
    <div #cardContainer class="card-container" *ngFor="let listing of filteredListings">
      <listing-card [listing]="listing"></listing-card>
    </div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
  </section>
</div>
