<div class="listing-cards-container">

  <!-- Search Options Area -->
  <!-- TODO: CURRENTLY PERMANENTLY TURNED OFF BY ngIf=false; HOOK UP IF NEED, ELSE REMOVE -->
  <div>
    <cdk-virtual-scroll-viewport itemSize="10" id="cards-filters">
      <!-- <ul> -->
        <!-- <li *ngFor="let icon of filterIcons"> -->
        <li *cdkVirtualFor="let icon of filterIcons">
          <i class="{{buildIconClass(icon, 1)}}"
             (click)="filter(icon)">
             <!-- [style.color]="filters[icon] ? icon.bgColor : 'white'"> -->
          </i>
        </li>
      <!-- </ul> -->
    </cdk-virtual-scroll-viewport>
  </div>

  <!-- Listing Results Found -->
  <section class="cards-container" *ngIf="listings && listings.length > 0">
    <div #cardContainer class="card-container" *ngFor="let listing of filteredListings">
      <listing-card [listing]="listing"></listing-card>
    </div>
    <!-- These help keep things aligned with any amount of cards in a row -->
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
  </section>
</div>
