<div class="listing-card-container">
  <!-- <object class="frame" data="/assets/images/frame.svg" type="image/svg+xml">
    <img src="fallbackimg.png">
  </object> -->

  <!-- INTERIOR CONTAINER -->
  <div class="listing-display-main-container">

    <!-- IMAGES SECTION -->
    <div class="listing-display-image-container" [ngClass] = "{ 'image-expand': !expandedInfo, 'image-shrunk': expandedInfo }">
      <i class="info-box-size-control" (click)="toggleInfoContainerExpand()"> ^ </i>

      <!-- SEE IF THERE IS AN IMAGE CAROUSSEL IN ANGULAR MATERIAL THAT COULD BE USED HERE -->
      <img class="listing-card-image" [src]="listing.heroImage" alt="ListingHeroImage for {{listing.title}}">
      <i class="image-scroll-left"> < </i>
      <i class="image-scroll-right"> > </i>
    </div>

    <!-- INFO SECTION -->
    <div class="listing-display-info-container info-shrunk" *ngIf="!expandedInfo">
      <h3 class="listing-card-title">{{ listing.title }}</h3>
      <!-- <i class="listing-card-respond-button {{buildIconClass('share', '2')}}"></i> -->
    </div>
    <div class="listing-display-info-container info-expand" *ngIf="expandedInfo">
      <div class="listing-card-info-desc-container">
        <p class="listing-card-info-desc ">{{ listing.description }}</p>
      </div>
      <div class="listing-card-info-link-container">
        <label class="card-info-label" for="">like this:</label>
        <a class="listing-card-info-content listing-card-info-link" href="{{ verifyOrAddProtocolToUrl(listing.linkUrl) }}" targer="_blank">{{ urlWithoutPrototol(listing.linkUrl) }}</a>
      </div>
      <div class="listing-card-details-container">
        <div class="listing-card-condition-container">
          <label class="card-info-label" for="">condition</label>
          <mat-chip class="listing-card-info-content">{{ listing.condition }}</mat-chip>
        </div>
        <div class="listing-card-price-container">
          <label class="card-info-label" for="">asking</label>
          <mat-chip class="listing-card-info-content" selected="true" [color]="primary">${{ listing.price }}</mat-chip>
          <!-- <p class="listing-card-info-content">Price: ${{ listing.price }}</p> -->
        </div>
      </div>
      <div class="listing-card-info-title-container">
        <h3 class="listing-card-title">{{ listing.title }}</h3>
      </div>
      <!-- <i class="listing-card-respond-button {{buildIconClass('share', '2')}}"></i> -->
    </div>
  </div>

  <!-- DECORATIVE BUBBLES -->
  <div class="listing-display-bubble-med"></div>
  <div class="listing-display-bubble-sml"></div>
</div>
