<div class="listing-cards-container">

  <!-- Search Options Area -->
  <div>
    <div id="cards-filters" *ngIf="showFilterOptions">
      <ul>
        <li *ngFor="let icon of filterIcons">
          <i class="{{buildIconClass(icon, 1)}}"
             (click)="filter(icon)">
             <!-- [style.color]="filters[icon] ? icon.bgColor : 'white'"> -->
          </i>
        </li>
      </ul>
    </div>
  </div>

  <!-- Listing Results Found -->
  <section class="cards-container" *ngIf="listings.length > 0">
    <div class="listing-cards-container" *ngFor="let listing of filteredListings">
      <listing-card [listing]="listing"></listing-card>
    </div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
    <div class="filler"></div>
  </section>
</div>
