<div class="listing-card-container">

  <!-- Card Container -->
  <div class="listing-display-main-container" matBadge="{{unreadMsgsCount}}" matBadgeOverlap="true" [matBadgeHidden]="!showUnreads && unreadMsgsCount && unreadMsgsCount < 1">

    <!-- Title Area -->
    <!-- <div class="title-container">
      <h3 class="listing-card-title">Suuuuuuuuuuuuuuuuuper LONG TITLEeeeeeeeeeeeeeeeee</h3>
    </div> -->

    <!-- Image Carousel -->
    <div class="listing-image-container">
      <img-carousel [images]="listing.images" [link]="listingLink"></img-carousel>
    </div>
  </div>

  <!-- Decorative Bubbles -->
  <div class="listing-display-bubbles">
    <div class="listing-display-bubble-lrg">{{price.display}}</div>
    <div class="listing-display-bubble-med">{{price.symbol}}</div>
    <div class="listing-display-bubble-sml"></div>
  </div>
</div>
