
/* Make the home section take up most of the height vs the footer */
::ng-deep home {
  display: flex;
  flex-direction: column;
  flex: 8;
  width: 100%;
}

/*When no search has been made - center things*/
/*.home-container.centered {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}*/

/*TEMPORARY - PARENT OF LISTINGS-SEARCH WILL NEED THIS*/
listings-search.centered {
  display: flex;
  justify-content: center;
  width: 100%;
}


/*TODO: After a search, relocate the search input to the top left. Or just TOP?*/
listings-search {
  display: flex;
  width: 100%;
}

.home-container {
  display: flex;
  flex: 1 0 auto;
}
