.notification-message {
  position: relative;

  font-family: cinzel, helvetica, sans-serif;
  text-align: center;

  margin-left: -8px;
  margin-top: -8px;
  margin-bottom: 5px;
  padding: 8px;
  top: 0;
  width: 100%;
}
